@model EventDTO
@{
    ViewData["Title"] = Model.EventName;
}

<div class="col-lg-3"></div>
<div class="col-lg-6 event">
    <hr />
    <br />
    <br />
    <h2>@Model.EventName</h2>

    
    <br />

    @if (Model.EventId == 1 || Model.EventId == 101)
    {
        <p>
            <span class="event-flow">About the theme : </span>
            The analogy of the big bang, obviously, comes from the theory
            of the origin of the universe. Stealing the conviction the Big Bang Idea, gives you the
            opportunity to underpin and develop a notion of Innovative business model for on
            "Rural marketing for development" which may lead to breakthrough. This gives you
            the opportunity to demonstrate your revolutionary business model, creating ripples in
            the area of Rural Marketing.
        </p>
        <br />
        <p>
            <span class="event-flow">Flow of Competition : </span>
            This is a group event. A team of 2-4 members can send their entries.
            The interested participants are invited to make their entries and develop an
            Innovative Rural Marketing Model, send a draft presentation along with a write-
            up in not more than 250 words latest by 15 th August 2017. <span class="text-danger">(Late entries will not
            be entertained) </span>
            <br />
            <br />
            <span class="glyphicon glyphicon-ok-circle"> </span><span class="event-round"> Round 1:</span> The eliminator: Screening will be done by the assessment committee on
            the write up and presentation. The best entries will be selected to participate in the
            final event on 15th September at KSRM.
            <br />
            <br />
            <span class="glyphicon glyphicon-ok-circle"> </span><span class="event-round"> Round 2:</span> The Battle: The shortlisted teams will have to give a final presentation of
            their plan/model on 15 th September before the panel of judges. Henceforth the

            winners will be selected and awarded with a cash prize of Rs 20,000, Rs 10,000 and
            Rs 5,000 respectively.
        </p>
    }
    else if (Model.EventId == 2 || Model.EventId == 102)
    {
        <p>
            <span class="event-flow">About the theme : </span>
            Give your views on a given topic.
        </p>
        <br />
        <p>
            <span class="event-flow">Flow of Competition : </span>
            This is a group event; a team of 2 members can send their entries.
             Chits will be provided for selecting "For" or "Against" the motion.
             Each group has to speak out on the topic based on the chits they pick. <span class="text-danger">
                (For or Against)
            </span>
            <br />
            <br />
            <span class="glyphicon glyphicon-ok-circle"> </span><span class="event-round"> Process: </span>The topic for debate will be decided on the spot and all the rounds will be
            based on eliminator process. Henceforth the winners will be selected and awarded
            with a cash prize of Rs. 10,000, Rs.5,000 and Rs.2500 respectively.
            <br />
        </p>
    }
    else if (Model.EventId == 3 || Model.EventId == 103)
    {
        <p>
            <span class="event-flow">About the theme : </span>
            Successful rural marketing cases instrumental in development
            should be presented as a poster. Real time ongoing cases can only be presented.
            Pictures, data and write ups are permissible for the poster.
        </p>
        <br />
        <p>
            <span class="event-flow">Flow of Competition : </span>
            This is a group event; a team of 2-4 members can send their entries.
            The interested participants are invited to make their entries and develop their
            own cases, the teams have to present the cases in the form of pictures, data and
            write ups specifying how it has been instrumental in development.
            <br />
            <br />
            <span class="glyphicon glyphicon-ok-circle"> </span><span class="event-round"> Round 1:</span> The eliminator: Screening will be done by the assessment committee on
            the write up and presentation. The best entries will be selected to participate in the
            final event on 15th September at KSRM.
            <br />
            <br />
            <span class="glyphicon glyphicon-ok-circle"> </span><span class="event-round"> Round 2:</span> The Battle: The shortlisted teams will have to give a final presentation of
            their plan/model on 15 th September before the panel of judges. Henceforth the

            winners will be selected and awarded with a cash prize of Rs 20,000, Rs 10,000 and
            Rs 5,000 respectively.
        </p>
    }
    <br />
    <br />
    <p>
        <span class="event-flow">Rules for Participation for Sangati : </span>
        <ul>
       <li> Participants should be a bona-fide student of any post graduate program.</li>
            <li>
                Each institute can send maximum of 3-4 members for participating in the
                events.(extra members travel expenses will not be reimbursed).
            </li>
            <li>
                3 rd AC travel will be reimbursed for the shortest route. Extra money on tatkal
                reservations will not be paid.
            </li>
            <li>
                The write up is to be sent to us on our mail id "sangati2k17@gmail.com"
                The mail should have the subject line Event Name__College__Team Name and
                the body with followings details in the mail:
                <ul>
                    <li>
                        Name of the participants (with one group leader)
                    </li>
                    <li>
                        Institution, Program, Batch
                    </li>
                    <li>
                        Contact Number &amp; E-Mail ID.
                    </li>
                    <li>  Facebook ID </li>
                </ul>
            <li>
                The shortlisted entries will be notified by mails and the results will also be updated on
                our facebook page.
                </li>
            <li>
                Each institute can send maximum of 4 members for participating in the
                events.(extra members travel expenses will not be reimbursed)
                </li>
</ul>
    </p>

    <a class="btn btn-block btn-lg btn-link" asp-action="Register" asp-route-eventId="@Model.EventId">REGISTER</a>

</div>