@model IList<EventDTO>
@{
    ViewData["Title"] = "Events";
}
<br />
<div class="events">
<h2>EVENTS</h2>
    <br />
    </div>

    @foreach (var e in Model)
    { 
        <div class="row eventlist">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="col-md-4">
            <a class="thumbnail" asp-controller="Events" asp-action="Event" asp-route-eventId="@e.EventId">
                <img class="img-responsive" src="~/images/events/event300_@(e.EventId).jpg" alt="">
            </a>
                </div>
            <div class="col-md-8">
                <br />
                <h3><a asp-controller="Events" asp-action="Event" asp-route-eventId="@e.EventId"> @e.EventName </a></h3>
                <br />
@if (e.EventId == 1 || e.EventId==101)
{
    <p>
        The analogy of the big bang, obviously, comes from the theory
        of the origin of the universe. Stealing the conviction the Big Bang Idea, gives you the
        opportunity to underpin and develop a notion of Innovative business model for on
        "Rural marketing for development" which may lead to breakthrough. This gives you
        the opportunity to demonstrate your revolutionary business model, creating ripples in
        the area of Rural Marketing.
    </p>
}

else if (e.EventId == 2 || e.EventId == 102)
{
    <p>
        Give your views on a given topic.
    </p>
}
@if (e.EventId == 3 || e.EventId == 103)
{
    <p>
        Successful rural marketing cases instrumental in development
        should be presented as a poster. Real time ongoing cases can only be presented.
        Pictures, data and write ups are permissible for the poster.
    </p>
}
                </div>

                @*<a asp-controller="Events" asp-action="Register" asp-route-eventId="@e.EventId" method="get" class="">Register</a>*@
                <br />

            </div>
            </div>
    }


