﻿@model TeamDTO
@{
    Layout = null;
    ViewData["Title"] = "Register";
}


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KSRM |Registration</title>
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Poiret+One" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="icon" type="image/png " href="favico.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="~/registerc.css">
</head>
<body>
    <div class="logo clearfix">
        <img src="~/favico.png" alt="" width="100" height="70">
    </div>
    <div id="rsuccess">
    <h2>Registered Successfully</h2>
        <hr />
    <h3>Team id : @Model.TeamId</h3>
    <h3>Team Name : @Model.TeamName</h3>
    <h3>College : @Model.CollegeName</h3>
    <h3>Email : @Model.Email</h3>
    <h3>
        Team Members
    </h3>
    <p>
        <ul>
            <li>@Model.Member1</li>
            <li>@Model.Member2</li>
            @if (Model.Member3 != null)
            {
                <li>@Model.Member3</li>
                if (Model.Member4 != null)
                {
                    <li>@Model.Member4</li>
                }
            }
        </ul>
    </p>

        <a asp-controller="Home" asp-action="Index">Go back to home</a>
        </div>

</body>
</html>


