﻿@model RegisterBindingModel
@{
    Layout = null;
    ViewData["Title"] = "Register";
}
@*
@if (Model.EventId > 0 && Model.EventId < 4 || Model.EventId > 100 && Model.EventId < 104)
{
    @section Scripts{
        <link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    }

    <div class="registration-box">
        <div class="col-lg-offset-2">


            <h2>Register for @Model.EventName</h2>


            <form asp-controller="Events" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" enctype="multipart/form-data" method="post" class="form-horizontal">
                <br />
                <input asp-for="EventId" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TeamName" class="col-md-2 control-label text-left pull-left"></label>
                    <div class="col-md-6">
                        <input asp-for="TeamName" class="form-control" />
                        <span asp-validation-for="TeamName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CollegeName" class="col-md-2 control-label"></label>
                    <div class="col-md-6">
                        <input asp-for="CollegeName" class="form-control" />
                        <span asp-validation-for="CollegeName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
                    <div class="col-md-6">
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-6">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="form-group">
                        <label asp-for="Password" class="col-md-2 control-label"></label>
                        <div class="col-md-6">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                        <div class="col-md-6">
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>*.@


                <div class="form-group">
                    <label asp-for="Member1" class="col-md-2 control-label"></label>
                    <div class="col-md-6">
                        <input asp-for="Member1" class="form-control" />
                        <span asp-validation-for="Member1" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Member2" class="col-md-2 control-label"></label>
                    <div class="col-md-6">
                        <input asp-for="Member2" class="form-control" />
                        <span asp-validation-for="Member2" class="text-danger"></span>
                    </div>
                </div>

                @if (Model.EventId != 2 && Model.EventId != 102)
                {
                    <div class="form-group">
                        <label asp-for="Member3" class="col-md-2 control-label"></label>
                        <div class="col-md-6">
                            <input asp-for="Member3" class="form-control" placeholder="Optional" />
                            <span asp-validation-for="Member3" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Member4" class="col-md-2 control-label"></label>
                        <div class="col-md-6">
                            <input asp-for="Member4" class="form-control" placeholder="Optional" />
                            <span asp-validation-for="Member4" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="FileUp" class="col-md-2 control-label"></label>
                        <div class="col-md-6">
                            <input asp-for="FileUp" class="form-control" />
                            <span asp-validation-for="FileUp" class="text-danger"></span>
                        </div>
                    </div>
                }
                <div class="col-md-offset-2">
                    <div class="form-group col-md-6 ">
                        <recaptcha />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <button type="submit" class="btn btn-default">Register</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-offset-3"></div>
    </div>

}

<scripts>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <recaptcha-script />
</scripts>
*@

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KSRM |Registration</title>
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Poiret+One" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="icon" type="image/png " href="favico.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="~/registerc.css">
</head>
<body>
    <div class="logo clearfix">
        <img src="~/favico.png" alt="" width="100" height="70">
    </div>
    @if (Model != null)
    {
        //@if (Model.EventId > 0 && Model.EventId < 4 || Model.EventId > 1001 && Model.EventId < 1005)
        @if (Model.EventId > 100 && Model.EventId < 107)
        {
            <!-- multistep form -->
            <form id="msform" class="mt-0" asp-controller="Events" asp-action="Register" asp-route-eventid="@Model.EventId" enctype="multipart/form-data" method="post">
                <!-- progressbar -->
                <ul id="progressbar">
                    <li class="active">Team Details</li>
                    <li>Member Details</li>
                    <li>Other Details</li>
                </ul>
                <!-- fieldsets -->
                <fieldset>
                    <h2 class="fs-title">Register Here for @Model.EventName</h2>
                    <input asp-for="EventId" />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <h3 class="fs-subtitle">Enter basic details</h3>
                    <input asp-for="TeamName" />
                    <span asp-validation-for="TeamName" class="text-danger"></span>
                    <br><br>
                    <input asp-for="CollegeName" />
                    <span asp-validation-for="CollegeName" class="text-danger"></span>
                    <!--<input type="password" name="cpass" placeholder="Confirm Password" />-->
                    <input type="button" name="next" class="next action-button" value="Next" />
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Member Details</h2>
                    <h3 class="fs-subtitle"></h3>
                    <input asp-for="Member1" />
                    <span asp-validation-for="Member1" class="text-danger"></span>
                    <input asp-for="Member2" />
                    <span asp-validation-for="Member2" class="text-danger"></span>
                    @if (Model.EventId == 101 || Model.EventId == 103)
                    {
                        <input asp-for="Member3" />
                        <span asp-validation-for="Member3" class="text-danger"></span>
                        <input asp-for="Member4" />
                        <span asp-validation-for="Member4" class="text-danger"></span>
                    }
                    @if (Model.EventId == 104)
                    {
                        <input asp-for="Member3" />
                        <span asp-validation-for="Member3" class="text-danger"></span>
                    }
                    <input type="button" name="previous" class="previous action-button" value="Previous" />
                    <input type="button" name="next" class="next action-button" value="Next" />
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Personal Details</h2>
                    <h3 class="fs-subtitle">We will never sell it</h3>
                    <input asp-for="PhoneNumber" />
                    <br />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>

                    @if (Model.EventId == 101)
                    {
                        <label for="phone">Upload your write up <small class="text-muted"><=20mb</small></label>
                        <input asp-for="FileUp" />
                        <span asp-validation-for="FileUp" class="text-danger"></span>
                    }
                    <!-- TODO: Captcha -->
                        <h4>NOTE : Each participating member will be charged ₹ 300</h4>
                    <recaptcha />
                    <input type="button" name="previous" class="previous action-button" value="Previous" />
                    <input type="submit" name="submit" class="submit action-button" value="Submit" />
                </fieldset>
            </form>

            <scripts>
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
                <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
                <recaptcha-script />
            </scripts>

        }
    }

    else
    {

        <h2 id="msform" class="fs-title"> OOPS! YOU HAVE LOST YOUR WAY </h2>

    }

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script>


        //jQuery time
        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches

        $(".next").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //activate next step on progressbar using the index of next_fs
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 50) + "%";
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({
                        'transform': 'scale(' + scale + ')',
                        'position': 'absolute'
                    });
                    next_fs.css({ 'left': left, 'opacity': opacity });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

        $(".previous").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale previous_fs from 80% to 100%
                    scale = 0.8 + (1 - now) * 0.2;
                    //2. take current_fs to the right(50%) - from 0%
                    left = ((1 - now) * 50) + "%";
                    //3. increase opacity of previous_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({ 'left': left });
                    previous_fs.css({ 'transform': 'scale(' + scale + ')', 'opacity': opacity });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

                            //$(".submit").click(function () {
                            //    return false;
                            //})

    </script>

</body>
</html>
