﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height:1400px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/*template layout*/

body {
    width: 100%;
    background-color: #9f9fa3;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

html {
    width: 100%;
}

table {
    font-size: 14px;
    border: 0;
}
/* ----------- responsivity ----------- */
@media only screen and (max-width: 768px) {
    .container {
        width: 700px !important;
    }
}

@media only screen and (max-width: 640px) {

    /*------ top header ------ */
    .header-bg {
        width: 440px !important;
        height: 10px !important;
    }

    .main-header {
        line-height: 28px !important;
    }

    .main-subheader {
        line-height: 28px !important;
    }

    /*----- --features ---------*/
    .feature {
        width: 420px !important;
    }

    .feature-middle {
        width: 400px !important;
        text-align: center !important;
    }

    .feature-img {
        width: 440px !important;
        height: auto !important;
    }

    .container {
        width: 440px !important;
    }

    .container-middle {
        width: 420px !important;
    }

    .mainContent {
        width: 400px !important;
    }

    .main-image {
        width: 400px !important;
        height: auto !important;
    }

    .banner {
        width: 400px !important;
        height: auto !important;
    }
    /*------ sections ---------*/
    .section-item {
        width: 400px !important;
    }

    .section-img {
        width: 400px !important;
        height: auto !important;
    }
    /*------- prefooter ------*/
    .prefooter-header {
        padding: 0 10px !important;
        line-height: 24px !important;
    }

    .prefooter-subheader {
        padding: 0 10px !important;
        line-height: 24px !important;
    }
    /*------- footer ------*/
    .top-bottom-bg {
        width: 420px !important;
        height: auto !important;
    }

    table {
        width: 100% !important;
        text-align: center;
    }
}

@media only screen and (max-width: 479px) {

    /*------ top header ------ */
    .header-bg {
        width: 280px !important;
        height: 10px !important;
    }

    .top-header-left {
        width: 260px !important;
        text-align: center !important;
    }

    .top-header-right {
        width: 260px !important;
    }

    .main-header {
        line-height: 28px !important;
        text-align: center !important;
    }

    .main-subheader {
        line-height: 28px !important;
        text-align: center !important;
    }

    /*------- header ----------*/
    .logo {
        width: 260px !important;
    }

    .nav {
        width: 260px !important;
    }

    /*----- --features ---------*/
    .feature {
        width: 260px !important;
    }

    .feature-middle {
        width: 240px !important;
        text-align: center !important;
    }

    .feature-img {
        width: 260px !important;
        height: auto !important;
    }


    .container {
        width: 290px !important;
    }

    .container-middle {
        width: 260px !important;
    }

    .mainContent {
        width: 240px !important;
    }

    .main-image {
        width: 240px !important;
        height: auto !important;
    }

    .banner {
        width: 240px !important;
        height: auto !important;
    }
    /*------ sections ---------*/
    .section-item {
        width: 240px !important;
    }

    .section-img {
        width: 240px !important;
        height: auto !important;
    }
    /*------- prefooter ------*/
    .prefooter-header {
        padding: 0 10px !important;
        line-height: 28px !important;
    }

    .prefooter-subheader {
        padding: 0 10px !important;
        line-height: 28px !important;
    }
    /*------- footer ------*/
    .top-bottom-bg {
        width: 260px !important;
        height: auto !important;
    }

    table {
        width: 100% !important;
    }

    .gallery-img a img {
        height: 134px !important;
    }

    .gallery-img1 a img {
        height: 60px !important;
    }

    .gallery-img2 a img {
        height: 60px !important;
    }
}