/*Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	font-family: 'Lato', sans-serif !important;
	margin:0;
	padding:0;
	background:#000;
    color:#fff;
 }
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p{
	margin:0;
}
ul{
margin:0;
padding:0;
}
/*-- header --*/
.header {
  
  padding: 20px 0px;
}
.header-left{
float:left;
}
.header-left a{
font-size:40px;
color:#fff;
text-decoration:none;
font-family: 'Fredericka the Great', cursive;
padding:4px 20px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#40c8f4+0,40c8f4+24,ffe641+100 */
background: #40c8f4; /* Old browsers */
background: -moz-linear-gradient(left,  #40c8f4 0%, #40c8f4 24%, #ffe641 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#40c8f4), color-stop(24%,#40c8f4), color-stop(100%,#ffe641)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #40c8f4 0%,#40c8f4 24%,#ffe641 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #40c8f4 0%,#40c8f4 24%,#ffe641 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #40c8f4 0%,#40c8f4 24%,#ffe641 100%); /* IE10+ */
background: linear-gradient(to right,  #40c8f4 0%,#40c8f4 24%,#ffe641 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40c8f4', endColorstr='#ffe641',GradientType=1 ); /* IE6-9 */
}
.navigation{
margin-top: 9px;
float:right;
}
.navbar-default {
  background:none;
  border:none;
}
.navbar {
  margin-bottom: 0;
  min-height:0;
  border-radius: 0;
}
.navbar-default .navbar-nav > li > a {
font-family: 'Fredericka the Great', cursive;
padding: 10px 20px;
color: #ffe641;
font-size: 18px;
font-weight: 600;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background:#40c8f4;
}
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #40c8f4;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/*-- //header --*/
/*-- banner --*/
.banner{
background:url(../images/.jpg) no-repeat 0px 0px;
background-size:cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
min-height: 700px;
}
.full{
background:url(../images/banner2.jpg) no-repeat 0px 0px;
background-size:cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
min-height: 410px;
}
.caption h3{
margin:0;
text-align:center;
font-size: 64px;
color: #fff;
font-family: 'Fredericka the Great', cursive;
}
.caption {
  margin-top: 215px;
}
.caption p{
font-size:24px;
text-align:center;
margin:20px 0 35px 0;
color:#fff;
}
.banner-bottom{
margin-top:-130px;
}
.bottom-one,.bottom-two,.bottom-three,.bottom-four{
padding:0;
min-height:300px;
}
.bottom-one{
background:#262324;
}
.bottom-two,.bottom-three{
background:#40c8f4;
}
.bottom-four {
    background: #262324;
}
.bottom-text{
padding: 10px 20px;
}
    .bottom-text p {
        margin: 5px 0 0 0;
        font-size: 14px;
        color: #fff;
        line-height: 1.8em;
    }
.bottom-text h3{
margin:0;
font-size:14px;
color:#fff;
font-weight:400;
text-align:right;
font-family: 'Fredericka the Great', cursive;
}
/*.bottom-three p{
    font-size:0.85em;
}
.bottom-four p {
    font-size: 0.95em;
}*/

a.morebtn{
text-decoration:none;
font-size:16px;
color:#000;
padding:7px 25px;
background:#f4e14b;
}
/*-- //banner --*/
 .slider {
	position: relative;
	text-align: center;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 29px;
	z-index: 999;
	left: 46%;
	display:none;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left:20px;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 69px;
  width: 77px;
  background: transparent url("../images/slid.png") no-repeat left top;
  margin-top: -45px;
  }
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 25px;
 }
 /*-- welcome --*/
 .welcome,.popular,.we-focus,.about, .team, .camps, .typrography,.gallery,.contact{
 padding:80px 0;
 }
.welcome-head h3,.popular-head h3,.focus-grid h3,h3.tittle,.gallery h3 ,.contact-form h3{
margin:0;
font-size:36px;
color:#40c8f4;
text-align:center;
font-family: 'Fredericka the Great', cursive;
}
.welcome-head p{
  margin: 23px 0 0 0;
  font-size: 23px;
  color: #262324;
  text-align: center;
  font-weight: 300;
  line-height: 1.8em;
}
.popular{

}
.pop-desc{
padding:10px 0;
background:#f4e14b;
}
.pop-desc p{
font-size:18px;
margin:0;
color:#262324;
text-align:center;
font-weight:bold;
}
.popular-grid img{
width:100%;
height:200px;
}
.popular-grids{
margin-top:50px;
}
/*-- //welcome --*/
/*-- focus --*/
.focus-grid:nth-child(4) ,.focus-grid:nth-child(5) ,.focus-grid:nth-child(6) ,.focus-grid:nth-child(7) {
  margin: 0px 0 0 0;
}
.focus-grid h3{
text-align:left;
}
.focus-grid h3 span {
  display: block;
  font-size: 20px;
  margin: 10px 0;
}
.focus-grid p {
  font-size: 14px;
  margin: 20px 0 0px 0;
  color:#fff;
  line-height: 1.8em;
}
.focus-border{
border:1px solid #e7eaed;
}
.focus-grids:nth-child(3){
margin:0;
}

.focus-layout{
background:#40c8f4;
}
.focus-layout{
margin:10px;
padding: 10px 0 10px 0;
}
.focus-layout h4{
  margin: 15px 0 0 0;
  color:#fff;
  font-size: 18px;
  text-transform:uppercase;
  text-align:center;
}
.focus-image{
  text-align: center;
}
.focus-image img{
    width:220px;
    height:80px;
    padding:0
}
.focus-image .glyphicon-music,.focus-image .glyphicon-film,.focus-image .glyphicon-volume-up,.focus-image .glyphicon-play,.focus-image .glyphicon-headphones,.focus-image .glyphicon-facetime-video{
color:#fff;
font-size:48px;
text-align:center;
}
.focus-grid:hover div.focus-image .glyphicon-music{
color:#262324;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.focus-grid:hover div.focus-image .glyphicon-film{
color:#262324;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.focus-grid:hover div.focus-image .glyphicon-play{
color:#262324;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.focus-grid:hover div.focus-image .glyphicon-volume-up{
color:#262324;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.focus-grid:hover div.focus-image .glyphicon-headphones{
color:#262324;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.focus-grid:hover div.focus-image .glyphicon-facetime-video{
color:#262324;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*-- //focus --*/
/*-- full --*/
.full{
padding-top:80px;
}
.full-left {
  float: left;
  width: 20%;
}
.full-right{
float:left;
width: 80%;
}
.full-left .glyphicon-music,.full-left .glyphicon-film,.full-left .glyphicon-play{
font-size:48px;
color:#f4e14b;
}
.full-right h3{
  margin: 8px 0 0 0;
  font-size: 24px;
  color: #40c8f4;
font-family: 'Fredericka the Great', cursive;
}
.full-grid p{
  font-size: 14px;
  margin: 20px 0 25px 0;
  color: #fff;
  line-height: 1.8em;
}
.full-grid a{
text-decoration:none;
font-size:16px;
color:#fff;
padding:7px 25px;
background:#40c8f4;
}
a.hvr-bounce-to-bottom.read-more:before{
background:#f4e14b;
}
/*-- //full --*/
/*-- footer --*/
.footer-grid input[type="email"] {
  background:#fff;
  border: none;
  width: 81%;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #c4c4c4;
}
.footer-grid form input[type="submit"]{
  background: url(../images/message.png) no-repeat 2px 9px #ffffff;
  width: 44px;
  height: 38px;
  border: none;
  margin: 0 0 0 -4px;
  padding:0;
	}
.footer{
background: #40c8f4;
padding:50px 0;
}
.footer-grid h4 {
    margin: 0 0 30px 0;
    font-size: 20px;
    color: #ffe641;
    font-family: 'Fredericka the Great', cursive;
}
.footer-grid h3 {
    margin: 0px 0 0px 0;
    font-size: 32px;
    color: #ffe641;
    font-family: 'Fredericka the Great', cursive;
}
    .footer-grid h3 a {
        color: #ffe641;
        text-decoration: none;
    }
.footer-grid h3 a:hover{
color: #fff;
}
.footer-grid ul {
margin:0;
padding:0;
}
.footer-grid ul li{
list-style-type:none;
font-size:14px;
color:#fff;
line-height:2em;
font-weight:600;
}
.footer-grid ul li a{
text-decoration:none;
color:#fff;
}
.footer-grid ul li a:hover{
color:#fff;
}
.copy-right{
background:#262324;
padding:17px 0;
}
.copy-right p{
text-align:center;
margin:0 0 0px 0;
font-size:13px;
color:#fff;
}
.copy-right p a{
text-decoration:none;
color:#fff;
}
.copy-right p a:hover{
color:#40c8f4;
}
/*-- //footer --*/
/*-- about --*/
/*----about-----*/
.page-head {
  min-height: 128px !important;
}
.about-top,.main,.cam-top-top ,.grid_4,.gallery ul,.map{
  margin-top: 50px;
}
.team {
  background: #262324;
}
.about p {
  font-size: 0.95em;
  color: #888;
  line-height: 1.8em;
}
.cam-top iframe{
height:325px;
  width: 100%;
}
.about-top-right p {
  font-size: 14px;
  margin: 20px 0 0px 0;
  color: #262324;
  line-height: 1.8em;
}
.about-top-right h4 {
 color: #40c8f4;
  font-size:22px;
font-family: 'Fredericka the Great', cursive;
  line-height: 1.35em;
  padding: 0
}

/* FIFTH EFFECTS */
.fifth-effect img {
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.fifth-effect .mask {
   cursor:pointer;
   opacity:1;
   visibility:visible;
   border:30px solid rgba(255, 230, 65, 0.46);
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
   -moz-transition: all 0.4s cubic-bezier(0.940, 0.850, 0.100, 0.620);
   -webkit-transition: all 0.4s cubic-bezier(0.940, 0.850, 0.100, 0.620);
   -o-transition: all 0.4s cubic-bezier(0.940, 0.850, 0.100, 0.620);
   -ms-transition: all 0.4s cubic-bezier(0.940, 0.850, 0.100, 0.620);
   transition: all 0.4s cubic-bezier(0.940, 0.850, 0.100, 0.620);
}
.fifth-effect:hover .mask {
	border:0px double rgba(0,0,0,0.7);
	opacity:0;
	visibility:hidden;
}
.fifth-effect:hover img {
	opacity:1;
}
/* CSS3 STYLE GENERIC */
.view {
     width:100%;
   height:100%;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
}
.view .mask, .view .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0px
}
.view img {
  width: 100%;
   display: block;
   position: relative;
}
.view a.info {
   background:url(../img/link.png) center no-repeat;
   display: inline-block;
   text-decoration: none;
   padding:0;
   text-indent:-9999px;
   width:20px;
   height:20px;
}
.view.fifth-effect {
  padding-left: 0;
}
.cam-top img{
width:100%;
}
.sub-img {
  float: left;
  width: 20%;
}
.sub-img img{
 width:100%;
}
.sub-text {
width:75%;
 float:right;
}
.sub-text a {
text-decoration:none;
 color: #40c8f4;
  font-size:18px;
font-family: 'Fredericka the Great', cursive;
}
.sub-text p {
  font-size: 14px;
  margin: 5px 0 0px 0;
  color: #262324;
  line-height: 1.8em;
}
.sub-cam-top {
    margin-bottom: 28px;
}
/*-- //about --*/
/*--trypography--*/
.grid_4{
	background:#fff;
} 
.grid_3.grid_4 h3 {
  margin: 0;
} 
.grid_5{
	background:#fff;
	padding:1em 0 2em 0;
}

.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #999;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
h4.typ1{
	margin-bottom:15px;
}
h5.typ1{
	margin-bottom:15px;
}
.progress {
  height: 8px;
  box-shadow: none;
}
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #eeeeee;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color:#03a9f4;
  -webkit-box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition:width 0.6s ease;
  -o-transition:width 0.6s ease;
  transition:width 0.6s ease;
}
.progress-bar {
  box-shadow: none;
}
.progress-bar-primary {
  background-color: #03a9f4;
}
.progress-bar-info {
  background-color: #00bcd4;
}
.progress-bar-success {
  background-color: #8bc34a;
}
.progress-bar-warning {
  background-color: #ffc107;
}
.progress-bar-danger {
  background-color: #e51c23;
}
.progress-bar-inverse {
  background-color: #757575;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color:#5bb2fc !important;
  border-color:#5bb2fc; !important;
}
.grid_3 p{
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.breadcrumb li{
	font-size:0.85em;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
h3.bars {
  margin-bottom: 0.8em;
}
/*-- //typography --*/
/*-- gallery --*/

.da-thumbs {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.da-thumbs li {
  float: left;
  margin: 0.4%;
  background:#262324;
  padding: 8px;
  position: relative;
  width: 32.4%;
}
.da-thumbs li a,
.da-thumbs li a img {
  display: block;
  position: relative;
  width: 100%;
}
.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a div {
  position: absolute;
  background: #40c8f4;
  width: 100%;
  height: 100%;
}
.da-thumbs li a div span {
  display: block;
  padding: 10px 0;
  margin: 11px 20px 20px 20px;
  font-weight: normal;
  text-transform: capitalize;
  color: #262324;
  text-align: center;
  font-size:14px;
}
.da-thumbs li a div  h5 {
  font-family: 'Fredericka the Great', cursive;
  color: #FFF;
  font-size: 24px;
  margin: 3.5em 0 0 0;
  text-align: center;
}
/*--//gallery--*/
/*--contact--*/
.contact-form form{
margin-top:30px;
}
.map iframe {
  width: 100%;
  height: 360px;
}
.paragraph p {
  font-size: 14px;
  margin: 20px 0 0px 0;
  color: #262324;
  line-height: 1.8em;
}
.contact-grids {
  margin: 50px 0;
}
.contact-grids h4{
  font-size: 20px;
  margin: 0 0 20px 0;
  color:#40c8f4;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
	}

.contact-form{
	  margin: 4em 0;
	}
.contact-form h3:after{
	background:url(../images/line.png) no-repeat 9.2em 0.5em;
	display:block;
	height:20px;
	content:'';
	}
.contact-form input[type="text"],.contact-form textarea{
	outline:none;
	padding:15px 10px;
	border:1px solid #262324;
	background:none;
	font-size:13px;
	float:left;
	width:32%;
	color: #000;
	}
.contact-form input[type="text"]:nth-child(2){
	  margin: 0 22px;
	}
.contact-form textarea{
	float:none;
	width:100%;
	margin:1.5em 0em 3em;
	resize:none;
	height:250px;
	}
.contact-form input[type="submit"]{
	outline:none;
	background:#40c8f4;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	color:#fff;
	font-weight:600;
	padding: 9px 80px;
	font-size: 20px;
	border:none;
	}
.contact-form input[type="submit"]:hover{
	background:#ffe641;
	color:#262324;
	}
/*-- //contact --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 52px;
	right: 1%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/arr.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- responsive media queries --*/
@media (max-width: 1024px){

	.header-left a {
	  font-size: 34px;
	  }
	.navbar-default .navbar-nav > li > a {
	  padding: 8px 17px;
	  font-size: 16px;
	  }
	.navigation {
	  margin-top: 6px;
	  }
	.caption h3 {
	  font-size: 48px;
	}
	.caption {
	  margin-top: 148px;
	}
	.caption p {
	  font-size: 22px;
	  }
	a.morebtn {
	  font-size: 14px;
	  padding: 7px 22px;
	  }
	.banner {
	  min-height: 520px;
	}
	.bottom-text h3 {
	  font-size: 19px;
	  }
	.bottom-text {
	  padding: 25px 22px;
	}
	.banner-bottom {
	  margin-top: -108px;
	}
	.welcome-head h3, .popular-head h3, .focus-grid h3, h3.tittle, .gallery h3, .contact-form h3 {
	  font-size: 32px;
	  }
	.welcome-head p {
	  font-size: 19px;
	  }
	.welcome, .popular, .we-focus, .about, .team, .camps, .typrography, .gallery, .contact {
	  padding: 70px 0;
	}
	.pop-desc p {
	  font-size: 16px;
	  }
	.focus-grid h3 span {
	  font-size: 16px;
	  }
	.focus-image .glyphicon-music, .focus-image .glyphicon-film, .focus-image .glyphicon-volume-up, .focus-image .glyphicon-play, .focus-image .glyphicon-headphones, .focus-image .glyphicon-facetime-video {
	  font-size: 45px;
	  }
	.focus-layout h4 {
	  font-size: 16px;
	  }
	.full-left .glyphicon-music, .full-left .glyphicon-film, .full-left .glyphicon-play {
	  font-size: 44px;
	  }
	.full-right h3 {
	  margin: 15px 0 0 0;
	  font-size: 19px;
	  }
	.full {
	  padding-top: 70px;
	}
	.full {
	  min-height: 398px;
	}
	.full-grid a {
	  font-size: 14px;
	  padding: 7px 18px;
	  }
	.footer-grid input[type="email"] {
	  width: 79%;
	  }
	.footer-grid h3 {
	  font-size: 26px;
	  }
	.footer-grid h4 {
	  margin: 0 0 22px 0;
	  }
	.about-top-right p {
	  margin: 7px 0 0px 0;
	  }
	.about-top-right h4 {
	  font-size: 19px;
	  }
	.fifth-effect .mask {
	  border: 24px solid rgba(255, 230, 65, 0.46);
	  }
	.sub-text a {
	  font-size: 16px;
	  }
	.sub-text {
	  width: 77%;
	  float: right;
	}
	.cam-top-text {
	  padding-left: 0;
	}
	.sub-text p {
	  font-size: 13px;
	  }
	.cam-top iframe {
	  height: 283px;
	  }
	.sub-cam-top:nth-child(3) {
	  margin: 0;
	}
	.footer-grid ul li {
	  font-size: 13px;
	  }
	.da-thumbs li a div h5 {
	  margin: 2.2em 0 0 0;
	  }
	.contact-grid p.message {
	  background: url(../images/message.png) no-repeat 1em 0em;
	  }
	.contact-grid p.phone {
	  background: url(../images/phone.png) no-repeat 2em .5em;
	  }
	.contact-grid p.dot {
	  background: url(../images/dot.png) no-repeat 1em .5em;
	  }
	.contact-grid p {
	  font-size: 14px;
	  }
	.map iframe {
	  width: 100%;
	  height: 295px;
	}
	.contact-form input[type="text"]:nth-child(2) {
	  margin: 0 18px;
	}
	.contact-form textarea {
	  margin: 1.5em 0em 1.3em;
	  height: 210px;
	}
	.contact-form input[type="submit"] {
	  padding: 9px 56px;
	  font-size: 18px;
	  }
	.page-head {
	  min-height: 112px !important;
	}
	.contact-form {
	  margin: 4em 0 0 0;
	}
}
@media (max-width: 800px){
	.header-left a {
	  font-size: 26px;
	}
	.navbar-default .navbar-nav > li > a {
	  padding: 5px 12px;
	  font-size: 14px;
	}
	.navigation {
	  margin-top: 4px;
	}
	.caption h3 {
	  font-size: 35px;
	}
	.caption p {
	  font-size: 20px;
	}
	.caption p {
	  margin: 15px 0 26px 0;
	  }
	.banner {
	  min-height: 418px;
	}
	.caption {
	  margin-top: 95px;
	}
	.bottom-one ,.bottom-two, .bottom-three,.bottom-four{
	  float: left;
	  width: 25%;
	}
	.bottom-text h3 {
	  font-size: 14px;
	}
	.bottom-text p {
	  font-size: 13px;
	  line-height: 1.7em;
	}
	.bottom-text {
	  padding: 17px 17px;
	}
	.welcome, .popular, .we-focus, .about, .team, .camps, .typrography, .gallery, .contact {
	  padding: 60px 0;
	}
	.welcome-head h3, .popular-head h3, .focus-grid h3, h3.tittle, .gallery h3, .contact-form h3 {
	  font-size: 29px;
	}
	.welcome-head p {
	  margin: 14px 0 0 0;
	  font-size: 15px;
	  }
	.popular-grids {
	  margin-top: 35px;
	}
	.popular-grid {
	  float: left;
	  width: 33.3%;
	  padding: 0 10px;
	}
	.focus-grid {
	  float: left;
	  width: 50%;
	}
	.focus-grid {
	  float: left;
	  width: 50%;
	}
	.focus-grid:nth-child(4), .focus-grid:nth-child(5), .focus-grid:nth-child(6), .focus-grid:nth-child(7),.focus-grid:nth-child(3){
	  margin: 30px 0 0 0;
	}
	.focus-grid p {
	  font-size: 13px;
	  }
	.full {
	  padding-top: 60px;
	}
	.full-grid {
	  float: left;
	  width: 33.3%;
	}
	.full-grid p {
	  font-size: 13px;
	  }
	.full-left .glyphicon-music, .full-left .glyphicon-film, .full-left .glyphicon-play {
	  font-size: 28px;
	}
	.full-left {
	  float: left;
	  width: 16%;
	}
	.full-right {
	  float: left;
	  width: 84%;
	}
	.full-right h3 {
	  margin: 7px 0 0 0;
	  font-size: 15px;
	}
	.full {
	  min-height: 350px;
	}
	.footer-grid {
	  float: left;
	  width: 25%;
	}
	.footer-grid h4 {
	  margin: 0 0 30px 0;
	  font-size: 16px;
	  }
	.footer-grid ul li {
	  font-size: 11px;
	}
	.footer-grid {
	  float: left;
	  width: 25%;
	  padding: 0 5px;
	}
	.footer-grid input[type="email"] {
	  padding: 8px;
	  width: 74%;
	}
	.footer-grid form input[type="submit"] {
	  background: url(../images/message.png) no-repeat 4px 8px #ffffff;
	  height: 34px;
	  }
	.footer-grid h3 {
	  font-size: 20px;
	}
	.footer {
	  padding: 45px 0;
	}
	.full-grid p {
	  margin: 10px 0 14px 0;
	  }
	.about-top, .main, .cam-top-top, .grid_4, .gallery ul, .map {
	  margin-top: 35px;
	}
	.about-top-left {
	  float: left;
	  width: 50%;
	}
	.about-top-right p {
	  font-size: 13px;
	  }
	.about-top-right h4 {
	  font-size: 17px;
	}
	.view-grid {
	  float: left;
	  width: 25%;
	}
	.fifth-effect .mask {
	  border: 16px solid rgba(255, 230, 65, 0.46);
	}
	.cam-top {
	  float: left;
	  width: 50%;
	}
	.cam-top-text {
	  float: left;
	  width: 50%;
	}
	.sub-img {
	  float: left;
	  width: 19%;
	}
	.sub-text {
	  width: 78%;
	  }
	.sub-text a {
	  font-size: 15px;
	}
	.sub-text p {
	  font-size: 12px;
	}
	.cam-top iframe {
	  height: 259px;
	}
	.da-thumbs li a div h5 {
	  margin: 1.2em 0 0 0;
	}
	.da-thumbs li a div span {
	  margin: 0px 9px 0px 9px;
	  font-size: 13px;
	}
	.contact-grid p {
	  margin: 0 0 0 0em;
	  font-size: 13px;
	}
	.contact-grid p.message {
	  background: url(../images/message.png) no-repeat 0em 0em;
	}
	.contact-grid p.phone {
	  background: url(../images/phone.png) no-repeat 1em .5em;
	}
	.contact-grid p.dot {
	  background: url(../images/dot.png) no-repeat .5em .5em;
	}
	.contact-grid p span {
	  margin-top: 5px;
	}
	.contact-grids {
	  margin: 35px 0;
	}
	.contact-grid h4 {
	  font-size: 16px;
	  }
	.paragraph p {
	  font-size: 13px;
	  }
	.map iframe {
	  height: 255px;
	}
	.contact-form {
	  margin: 2em 0 0 0;
	}
	.contact-form form {
	  margin-top: 16px;
	}
	.contact-form input[type="text"]:nth-child(2) {
	  margin: 0 14px;
	}
	.contact-form textarea {
	  height: 170px;
	}
	.contact-form input[type="text"], .contact-form textarea {
	  padding: 10px 10px;
	  }
	.contact-form input[type="submit"] {
	  padding: 9px 32px;
	  font-size: 16px;
	}
	.footer-grid h3 {
	  margin: 39px 0 0px 0;
	  }
	.footer-grid h4 {
  margin: 0 0 15px 0;
  }

}
@media (max-width: 768px){
.page-head {
  min-height: 84px !important;
}
	.header-left a {
	  font-size: 26px;
	}
	.navbar-default .navbar-nav > li > a {
	  padding: 5px 12px;
	  font-size: 14px;
	}
	.navigation {
	  margin-top: 4px;
	}
	.caption h3 {
	  font-size: 34px;
	}
	.caption p {
	  font-size: 20px;
	}
	.caption p {
	  margin: 15px 0 26px 0;
	  }
	.banner {
	  min-height: 418px;
	}
	.caption {
	  margin-top: 95px;
	}
	.bottom-one ,.bottom-two, .bottom-three,.bottom-four{
	  float: left;
	  width: 25%;
	}
	.bottom-text h3 {
	  font-size: 14px;
	}
	.bottom-text p {
	  font-size: 13px;
	  line-height: 1.7em;
	}
	.bottom-text {
	  padding: 17px 17px;
	}
	.welcome, .popular, .we-focus, .about, .team, .camps, .typrography, .gallery, .contact {
	  padding: 60px 0;
	}
	.welcome-head h3, .popular-head h3, .focus-grid h3, h3.tittle, .gallery h3, .contact-form h3 {
	  font-size: 29px;
	}
	.welcome-head p {
	  margin: 14px 0 0 0;
	  font-size: 15px;
	  }
	.popular-grids {
	  margin-top: 35px;
	}
	.popular-grid {
	  float: left;
	  width: 33.3%;
	  padding: 0 10px;
	}
	.focus-grid {
	  float: left;
	  width: 50%;
	}
	.focus-grid {
	  float: left;
	  width: 50%;
	}
	.focus-grid:nth-child(4), .focus-grid:nth-child(5), .focus-grid:nth-child(6), .focus-grid:nth-child(7),.focus-grid:nth-child(3){
	  margin: 30px 0 0 0;
	}
	.focus-grid p {
	  font-size: 13px;
	  }
	.full {
	  padding-top: 60px;
	}
	.full-grid {
	  float: left;
	  width: 33.3%;
	}
	.full-grid p {
	  font-size: 13px;
	  }
	.full-left .glyphicon-music, .full-left .glyphicon-film, .full-left .glyphicon-play {
	  font-size: 28px;
	}
	.full-left {
	  float: left;
	  width: 16%;
	}
	.full-right {
	  float: left;
	  width: 84%;
	}
	.full-right h3 {
	  margin: 7px 0 0 0;
	  font-size: 15px;
	}
	.full {
	  min-height: 350px;
	}
	.footer-grid {
	  float: left;
	  width: 25%;
	}
	.footer-grid h4 {
	  margin: 0 0 30px 0;
	  font-size: 16px;
	  }
	.footer-grid ul li {
	  font-size: 11px;
	}
	.footer-grid {
	  float: left;
	  width: 25%;
	  padding: 0 5px;
	}
	.footer-grid input[type="email"] {
	  padding: 8px;
	  width: 74%;
	}
	.footer-grid form input[type="submit"] {
	  background: url(../images/message.png) no-repeat 4px 8px #ffffff;
	  height: 34px;
	  }
	.footer-grid h3 {
	  font-size: 20px;
	}
	.footer {
	  padding: 45px 0;
	}
	.full-grid p {
	  margin: 10px 0 14px 0;
	  }
	.about-top, .main, .cam-top-top, .grid_4, .gallery ul, .map {
	  margin-top: 35px;
	}
	.about-top-left {
	  float: left;
	  width: 50%;
	}
	.about-top-right p {
	  font-size: 13px;
	  }
	.about-top-right h4 {
	  font-size: 17px;
	}
	.view-grid {
	  float: left;
	  width: 25%;
	}
	.fifth-effect .mask {
	  border: 16px solid rgba(255, 230, 65, 0.46);
	}
	.cam-top {
	  float: left;
	  width: 50%;
	}
	.cam-top-text {
	  float: left;
	  width: 50%;
	}
	.sub-img {
	  float: left;
	  width: 19%;
	}
	.sub-text {
	  width: 78%;
	  }
	.sub-text a {
	  font-size: 15px;
	}
	.sub-text p {
	  font-size: 12px;
	}
	.cam-top iframe {
	  height: 259px;
	}
	.da-thumbs li a div h5 {
	  margin: 1.2em 0 0 0;
	}
	.da-thumbs li a div span {
	  margin: 0px 9px 0px 9px;
	  font-size: 13px;
	}
	.contact-grid p {
	  margin: 0 0 0 0em;
	  font-size: 13px;
	}
	.contact-grid p.message {
	  background: url(../images/message.png) no-repeat 0em 0em;
	}
	.contact-grid p.phone {
	  background: url(../images/phone.png) no-repeat 1em .5em;
	}
	.contact-grid p.dot {
	  background: url(../images/dot.png) no-repeat .5em .5em;
	}
	.contact-grid p span {
	  margin-top: 5px;
	}
	.contact-grids {
	  margin: 35px 0;
	}
	.contact-grid h4 {
	  font-size: 16px;
	  }
	.paragraph p {
	  font-size: 13px;
	  }
	.map iframe {
	  height: 255px;
	}
	.contact-form {
	  margin: 2em 0 0 0;
	}
	.contact-form form {
	  margin-top: 16px;
	}
	.contact-form input[type="text"]:nth-child(2) {
	  margin: 0 14px;
	}
	.contact-form textarea {
	  height: 170px;
	}
	.contact-form input[type="text"], .contact-form textarea {
	  padding: 10px 10px;
	  }
	.contact-form input[type="submit"] {
	  padding: 9px 32px;
	  font-size: 16px;
	}

}
@media (max-width: 640px){
.page-head {
  min-height: 70px !important;
}
	.bottom-text {
	  padding: 8px 8px;
	}
	.navigation {
	  margin-top: 0px;
	}
	.navbar-toggle {
	  padding: 9px 10px;
	  margin-top: 0px;
	  margin-right: 0px;
	  margin-bottom: 0px;
	  border-radius: 4px;
	  background: #40c8f4;
	}
	.navbar-default .navbar-toggle {
	  border-color: #000;
	}
	.header {
	  background: #020202;
	  padding: 12px 0px;
	}
	.caption h3 {
	  font-size: 30px;
	}
	.caption p {
	  font-size: 15px;
	  margin: 10px 0 22px 0;
	}
	.caption {
	  margin-top: 71px;
	}
	.banner {
	  min-height: 342px;
	}
	.welcome-head h3, .popular-head h3, .focus-grid h3, h3.tittle, .gallery h3, .contact-form h3 {
	  font-size: 27px;
	}
	.welcome, .popular, .we-focus, .about, .team, .camps, .typrography, .gallery, .contact {
	  padding: 50px 0;
	}
	.pop-desc p {
	  font-size: 14px;
	}
	.pop-desc {
	  padding: 7px 0;
	  }
	.navbar-nav {
		  float: none;
		  width: 100%;
		  text-align: center;
		}
	.navigation{
	width:100%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	  border:none;
	}
	button.navbar-toggle {
	  margin-top: -37px;
	}
	.bottom-text p {
	  margin: 6px 0 0 0;
	  }
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	  background: #f4e14b;
	}
	.navbar-nav {
	  margin: 12px 0 0 0;
	}
	.navbar-collapse{
	padding:0;
	}
	.full-left .glyphicon-music, .full-left .glyphicon-film, .full-left .glyphicon-play {
	  font-size: 20px;
	}
	.full-right h3 {
	  margin: 5px 0 0 0;
	  font-size: 13px;
	}
	.full-grid p {
	  margin: 4px 0 9px 0;
	  line-height: 1.7em;
	}
	.footer-grid {
	  float: left;
	  width: 50%;
	  }
	.footer-grid h4 {
	  margin: 0 0 16px 0;
	}
	.footer-grid:nth-child(2) {
	  min-height: 139px;
	}
	.footer-grid:nth-child(3),.footer-grid:nth-child(4)  {
	margin-top:5px;
	}
	.footer-grid h3 {
	  font-size: 24px;
	}
	.full-grid {
	  padding: 0 10px;
	}
	.full-grid a {
	  font-size: 13px;
	  padding: 4px 13px;
	}
	.footer {
	  padding: 35px 0;
	}
	a.morebtn {
	  font-size: 13px;
	  padding: 5px 16px;
	}
	.about-top, .main, .cam-top-top, .grid_4, .gallery ul, .map {
	  margin-top: 30px;
	}
	.about-top-left {
	  float: left;
	  width: 54%;
	  padding: 0 10px;
	}
	.about-top-right {
	  padding: 0 10px 0 10px;
	}
	.view-grid {
	  float: left;
	  width: 25%;
	  padding: 0 10px;
	}
	.fifth-effect .mask {
	  border: 12px solid rgba(255, 230, 65, 0.46);
	}
	.cam-top {
	  float: left;
	  width: 46%;
	  padding: 0 10px;
	}
	.cam-top-text {
	  float: left;
	  width: 54%;
	  padding: 0 10px 0 0;
	}
	.sub-img {
	  float: left;
	  width: 17%;
	}
	.sub-text {
	  width: 81%;
	}
	.sub-text p {
	  margin: 2px 0 0px 0;
	  }
	.sub-cam-top {
	  margin-bottom: 22px;
	}
	.cam-top iframe {
	  height: 225px;
	}
	.da-thumbs li a div h5 {
	  margin: 1em 0 0 0;
	}
	.da-thumbs li a div span {
	  padding: 4px 0;
	  margin: 0px 3px 0px 3px;
	  }
	.da-thumbs li a div h5 {
	  font-size: 22px;
	  }
	.contact-grid {
	  float: left;
	  width: 31.6%;
	}
	.contact-grid p.phone {
	  background: url(../images/phone.png) no-repeat 0em .5em;
	}

	.contact-grid p.dot {
	  background: url(../images/dot.png) no-repeat 0em .5em;
	}
	.contact-grid p {
	  padding: 0 0 0 26px;
	}
	.contact-grid p.message {
	  padding: 0 0 0 41px;
	}
	.map iframe {
	  height: 210px;
	}
	.contact-form input[type="text"], .contact-form textarea {
	  padding: 8px 10px;
	}
	.contact-form input[type="text"]:nth-child(2) {
	  margin: 0 11px;
	}
	.contact-form textarea {
	  height: 148px;
	}
	.contact-form input[type="submit"] {
	  padding: 7px 22px;
	  }
	.contact-grids {
	  margin: 30px 0 35px 0;
	}
	.footer-grid input[type="email"] {
	  width: 55%;
	}
	.contact-grids h4 {
	  font-size: 17px;
	  }
}
@media (max-width: 480px){
	.bottom-one, .bottom-two, .bottom-three, .bottom-four {
	  float: left;
	  width: 50%;
	}
	.caption h3 {
	  font-size: 26px;
	}
	.caption {
	  margin-top: 57px;
	}
	.banner {
	  min-height: 274px;
	}
	.caption p {
	  font-size: 15px;
	  margin: 10px 0 11px 0;
	}
	.banner-bottom {
	  margin-top: -87px;
	}
	.welcome-head p {
	  margin: 10px 0 0 0;
	  font-size: 14px;
	  line-height: 1.7em;
	}
	.welcome, .popular, .we-focus, .about, .team, .camps, .typrography, .gallery, .contact {
	  padding: 45px 0;
	}
	.welcome-head h3, .popular-head h3, .focus-grid h3, h3.tittle, .gallery h3, .contact-form h3 {
	  font-size: 25px;
	}
	.popular-grid {
	  padding: 0 5px;
	}
	.pop-desc p {
	  font-size: 13px;
	}
	.pop-desc {
	  padding: 5px 0;
	}
	.col-md-6.focus-grid {
	  float: left;
	  width: 100%;
	  padding: 0 5px;
	}
	.col-md-3.focus-grid{
	  float: left;
	  width: 50%;
	  padding: 0 5px;
	}
	.focus-grid:nth-child(4), .focus-grid:nth-child(5), .focus-grid:nth-child(6), .focus-grid:nth-child(7), .focus-grid:nth-child(3),.focus-grid:nth-child(2) {
	  margin: 25px 0 0 0;
	}
	.full-grid {
	  padding: 0 5px;
	  width: 100%;
	}
	.full-left .glyphicon-music, .full-left .glyphicon-film, .full-left .glyphicon-play {
	  font-size: 35px;
	}
	.full-right h3 {
	  margin: 12px 0 0 0;
	  font-size: 17px;
	}
	.full-grid:nth-child(2) {
	  margin: 30px 0;
	}
	.full {
	  padding-top: 45px;
	}
	.full {
	  min-height: 582px;
	}
	.footer-grid input[type="email"] {
	  width: 62%;
	}
	.header-left a {
	  padding: 5px 10px;
	  font-size: 24px;
	}
	.about-top-left {
	  float: left;
	  width: 100%;
	  padding: 0;
	}
	.about-top-right {
	  float: left;
	  width: 100%;
	  padding: 0;
	  margin-top: 30px;
	}
	.about-top-right h4 {
	  font-size: 18px;
	}
	.view-grid {
	  float: left;
	  width: 50%;
	  padding: 5px;
	}
	.fifth-effect .mask {
	  border: 22px solid rgba(255, 230, 65, 0.46);
	}
	.cam-top {
	  float: left;
	  width: 100%;
	  padding: 0;
	}
	.cam-top-text {
	  margin-top: 30px;
	  float: left;
	  width: 100%;
	  padding: 0;
	}
	.sub-text a {
	  font-size: 17px;
	}
	.sub-text p {
	  margin: 9px 0 0px 0;
	  font-size: 13px;
	}
	.da-thumbs li {
	  width: 49.2%;
	}
	.cam-top iframe {
	  height: 233px;
	}
	.da-thumbs li a div h5 {
	  margin: 1.5em 0 0 0;
	}
	.contact-grid {
	  float: left;
	  width: 50%;
	  margin:0;
	}
	.contact-grid:nth-child(3) {
	  margin-top: 30px;
	}
	.contact-grid:nth-child(2) {
	  margin: 0;
	}
	.contact-grid p.message{
	margin:0;
	}
	.contact-form input[type="text"]:nth-child(2) {
	  margin: 15px 0;
	}
	.contact-form input[type="text"], .contact-form textarea {
	  width: 100%;
	  }
	.contact-grids {
	  margin: 30px 0 0px 0;
	}

}
@media (max-width: 320px){
	.bottom-one, .bottom-two, .bottom-three, .bottom-four {
	  float: left;
	  width: 100%;
	}
	.caption h3 {
	  font-size: 20px;
	}
	.header-left a {
	  padding: 3px 7px;
	  font-size: 21px;
	}
	.navbar-toggle {
	  padding: 6px 7px;
	  }
	button.navbar-toggle {
	  margin-top: -31px;
	}
	.caption p {
	  font-size: 13px;
	  }
	.banner {
	  min-height: 219px;
	}
	.caption {
	  margin-top: 46px;
	}
	a.morebtn {
	  padding: 3px 14px;
	}
	.banner-bottom {
	  margin-top: -61px;
	}
	.bottom-text h3 {
	  font-size: 16px;
	}
	.welcome, .popular, .we-focus, .about, .team, .camps, .typrography, .gallery, .contact {
	  padding: 35px 0;
	}
	.welcome-head h3, .popular-head h3, .focus-grid h3, h3.tittle, .gallery h3, .contact-form h3 {
	  font-size: 22px;
	}
	.popular-grid {
	  float: left;
	  width: 100%;
	  padding: 0;
	  }
	.popular-grid:nth-child(2) {
	  margin: 35px 0;
	}
	.pop-desc {
	  padding: 7px 0;
	}
	.full-grid {
	  padding: 0;
	  width: 100%;
	}
	.focus-grid {
	  float: left;
	  width: 100% !important;
	  padding: 0;
	}
	.full {
	  min-height: 704px;
	}
	.footer-grid {
	  float: left;
	  width: 100%;
	  padding: 0;
	}
	.footer-grid:nth-child(2) {
	  min-height: inherit;
	}
	.footer-grid:nth-child(2),.footer-grid:nth-child(3) {
	  margin-top: 30px;
	}
	.copy-right {
	  padding: 11px 0;
	}
	.fifth-effect .mask {
	  border: 13px solid rgba(255, 230, 65, 0.46);
	}
	h3.tittle.mid {
	  font-size: 19px;
	}
	.cam-top iframe {
	  height: 219px;
	}
	.sub-text p {
	  margin: 2px 0 0px 0;
	  font-size: 13px;
	}
	.sub-img {
	  float: left;
	  width: 27%;
	}
	.sub-text {
	  width: 70%;
	}
	.da-thumbs li {
	  width: 100%;
	  margin: 5px 0;
	}
	.da-thumbs li a div h5 {
	  margin: 2.2em 0 0 0;
	}
	.page-head {
	  min-height: 43px !important;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	  padding: 11px!important;
	}
	.contact-grid {
	  float: left;
	  width: 100%;
	  }
	.contact-grid:nth-child(3) ,.contact-grid:nth-child(2){
	  margin-top: 30px;
	}
	.map iframe {
	  height: 190px;
	}
	.contact-form textarea {
	  height: 125px;
	}
	.contact-grid h4 {
	  margin: 0 0 13px 0;
	  }
	.contact-grids h4 {
	  font-size: 15px;
	  margin: 0 0 0px 0;
	  }
	 .map {
	  margin-top: 20px;
	  }
}
/*-- //responsive media queries --*/



.registration-box {
    
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    background-position: center;
    border: 2px ridge black;
}

    .registration-box h2 {
        text-align: center;
        color: #ffe641;
        font-family: 'Fredericka the Great', cursive;
        font-size: 36px;
        padding-top:20px;
        margin-left:-100px;
    }

    .registration-box label {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 20px;
        color: #FFF;
        
    }



/*Particles*/
#particle {
    background-color: #140c0c;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

#overlay {
    position: relative;
}

/*body*/


.main {
    height: 100%;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.logo {
    padding-top: 10px;
    padding-left: 0px
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.middle {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

    .middle h1 {
        position: relative;
        top: 50%;
    }

hr {
    margin: auto;
    width: 100%;
}

.topright {
    position: absolute;
    top: 0;
    right: 16px;
}

    .topright .logo {
        padding-top: 10px;
        padding-right: 30px
    }
    .body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height:600px;
}

    /*Event page*/

    .event{

    }
        .event h2 {
            text-align: center;
            color: #ffe641;
            font-family: 'Fredericka the Great', cursive;
        }

        .event .event-flow {
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            font-size: 1.3em;
            color: #40c8f4;
        }

        .event .event-round{
            font-size:1.1em;
        }

            .event a {
                color: #ffe641;
            }
        .event a:hover {
            color: #ffe641;
        }

.about-head {
    text-align: center;
    color: #ffe641;
    font-family: 'Fredericka the Great', cursive;
}

.about h3 {
    text-align: center;
    color: #40c8f4;
    font-family: 'Lato', cursive;
}
.about p{
    padding:10px;
    color:#fff
}
.about span{
    padding-left:10px
}

/*
 *Scrolling
 */

a[ id= "more" ]:target ~ #more div.bottom-one {
    -webkit-transform: translateY( -500px);
    transform: translateY( -500px );
}

.rsuccess h2 {
    text-align: center;
    color: #ffe641;
    font-family: 'Fredericka the Great', cursive;
}

.rsuccess h3 {
    
    color: #40c8f4;
    font-family: 'Lato', cursive;
}

.eventlist a {
    text-decoration: none;
    color: #40c8f4;
    font-family: 'Lato', cursive;
}

    .eventlist a :hover {
        text-decoration: none;
        color: #40c8f4;
        font-family: 'Lato', cursive;
    }

.events h2{
    text-align: center;
    color: #ffe641;
    font-family: 'Fredericka the Great', cursive;
}

/*TIMELINE*/

.timeline {
    position: relative;
    padding: 4px 0 0 0;
    margin-top: 22px;
    list-style: none;
}

    .timeline > li:nth-child(even) {
        position: relative;
        margin-bottom: 50px;
        height: 180px;
        right: -100px;
    }

    .timeline > li:nth-child(odd) {
        position: relative;
        margin-bottom: 50px;
        height: 180px;
        left: -100px;
    }

    .timeline > li:before,
    .timeline > li:after {
        content: " ";
        display: table;
    }

    .timeline > li:after {
        clear: both;
        min-height: 170px;
    }

    .timeline > li .timeline-panel {
        position: relative;
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

        .timeline > li .timeline-panel:before {
            right: auto;
            left: -15px;
            border-right-width: 15px;
            border-left-width: 0;
        }

        .timeline > li .timeline-panel:after {
            right: auto;
            left: -14px;
            border-right-width: 14px;
            border-left-width: 0;
        }

    .timeline > li .timeline-image {
        z-index: 100;
        position: absolute;
        left: 50%;
        border: 7px solid #3b5998;
        border-radius: 100%;
        background-color: #3b5998;
        box-shadow: 0 0 5px #4582ec;
        width: 200px;
        height: 200px;
        margin-left: -100px;
    }

        .timeline > li .timeline-image h4 {
            margin-top: 12px;
            font-size: 10px;
            line-height: 14px;
        }

    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }

        .timeline > li.timeline-inverted > .timeline-panel:before {
            right: auto;
            left: -15px;
            border-right-width: 15px;
            border-left-width: 0;
        }

        .timeline > li.timeline-inverted > .timeline-panel:after {
            right: auto;
            left: -14px;
            border-right-width: 14px;
            border-left-width: 0;
        }

    .timeline > li:last-child {
        margin-bottom: 0;
    }

    .timeline .timeline-heading h4 {
        margin-top: 22px;
        margin-bottom: 4px;
        padding: 0;
        color: #40c8f4;
    }

        .timeline .timeline-heading h4.subheading {
            margin: 0;
            padding: 0;
            text-transform: none;
            font-size: 18px;
            color: #ffe641;
        }

    .timeline .timeline-body > p,
    .timeline .timeline-body > ul {
        margin-bottom: 0;
        color: #808080;
    }
    /*Style for even div.line*/
    .timeline > li:nth-child(odd) .line:before {
        content: "";
        position: absolute;
        top: 60px;
        bottom: 0;
        left: 690px;
        width: 4px;
        height: 340px;
        background-color: #3b5998;
        -ms-transform: rotate(-44deg); /* IE 9 */
        -webkit-transform: rotate(-44deg); /* Safari */
        transform: rotate(-44deg);
        box-shadow: 0 0 5px #4582ec;
    }
    /*Style for odd div.line*/
    .timeline > li:nth-child(even) .line:before {
        content: "";
        position: absolute;
        top: 60px;
        bottom: 0;
        left: 450px;
        width: 4px;
        height: 340px;
        background-color: #3b5998;
        -ms-transform: rotate(44deg); /* IE 9 */
        -webkit-transform: rotate(44deg); /* Safari */
        transform: rotate(44deg);
        box-shadow: 0 0 5px #4582ec;
    }
/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
    .timeline > li:nth-child(even) {
        margin-bottom: 0px;
        min-height: 0px;
        right: 0px;
    }

    .timeline > li:nth-child(odd) {
        margin-bottom: 0px;
        min-height: 0px;
        left: 0px;
    }

    .timeline > li:nth-child(even) .timeline-image {
        left: 0;
        margin-left: 0px;
    }

    .timeline > li:nth-child(odd) .timeline-image {
        left: 690px;
        margin-left: 0px;
    }

    .timeline > li:nth-child(even) .timeline-panel {
        width: 76%;
        padding: 0 0 20px 0px;
        text-align: left;
    }

    .timeline > li:nth-child(odd) .timeline-panel {
        width: 70%;
        padding: 0 0 20px 0px;
        text-align: right;
    }

    .timeline > li .line {
        display: none;
    }
}
/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .timeline > li:nth-child(even) {
        margin-bottom: 0px;
        min-height: 0px;
        right: 0px;
    }

    .timeline > li:nth-child(odd) {
        margin-bottom: 0px;
        min-height: 0px;
        left: 0px;
    }

    .timeline > li:nth-child(even) .timeline-image {
        left: 0;
        margin-left: 0px;
    }

    .timeline > li:nth-child(odd) .timeline-image {
        left: 520px;
        margin-left: 0px;
    }

    .timeline > li:nth-child(even) .timeline-panel {
        width: 70%;
        padding: 0 0 20px 0px;
        text-align: left;
    }

    .timeline > li:nth-child(odd) .timeline-panel {
        width: 70%;
        padding: 0 0 20px 0px;
        text-align: right;
    }

    .timeline > li .line {
        display: none;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
    .timeline > li:nth-child(even) {
        margin-bottom: 0px;
        min-height: 0px;
        right: 0px;
    }

    .timeline > li:nth-child(odd) {
        margin-bottom: 0px;
        min-height: 0px;
        left: 0px;
    }

    .timeline > li .timeline-image {
        position: static;
        width: 150px;
        height: 150px;
        margin-bottom: 0px;
    }

    .timeline > li:nth-child(even) .timeline-image {
        left: 0;
        margin-left: 0;
    }

    .timeline > li:nth-child(odd) .timeline-image {
        float: right;
        left: 0px;
        margin-left: 0;
    }

    .timeline > li:nth-child(even) .timeline-panel {
        width: 100%;
        padding: 0 0 20px 14px;
    }

    .timeline > li:nth-child(odd) .timeline-panel {
        width: 100%;
        padding: 0 14px 20px 0px;
    }

    .timeline > li .line {
        display: none;
    }
}

.testimonials h3 {
    text-align: center;
    color: #ffe641;
    font-family: 'Fredericka the Great', cursive;
    font-size: 36px;
}
.testimonials .testimonial-tag{
    text-align:center;
    font-size:1.2em;
    padding-top:15px;
}

/*gallery*/

.hide-bullets {
    list-style: none;
    margin-left: 0px;
    margin-top: 20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.galleryhead h3 {
    text-align: center;
    color: #ffe641;
    font-family: 'Fredericka the Great', cursive;
    font-size: 48px;
}

/*.slider-thumbs img{
    height:150px;
    width:150px;
}*/
.slider-thumbs img{
    cursor:pointer;
    
}
/*home slider*/
.caption {
    margin-top: 0px;
}

.caritem{
    height:580px;
}