﻿@{
    ViewData["Title"] = "About";
}

<div class="row about">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
       <h1 class="about-head"> ABOUT SANGATI </h1> 
        <hr />
        <br />
        <h3>WHO WE ARE?</h3>
        <p>Sangati started in 2014, as part of Rural Management symposium hosted by KSRM.
        Since then it has become an annual event to debate and discuss issues on rural development. As the
        name suggests, motive behind Sangati is to bring together students from pan India business schools
        to promote innovative thinking in rural management. Over last few years Sangati has become a
        pioneer event promoting team work and healthy competition on relevant issues pertaining to rural
        management.
        Sangati encourages creativity and discourse and has been an instrument to further the cause of rural
        development.
        </p>

        <h3>HOW SANGATI WAS CONCEPTUALIZED?</h3>
        <p>
            Sangati is a students’ event and entire
            CONCEPTULIASATION AND EXECUTION OF SANGATI IS DONE BY KSRM students.
            Entire KSRM family (faculty and staff) get involved in making Sangati a fruitful and successful event.
            For smooth functioning of Sangati, certain portfolios are allocated to budding managers to hone
            their skills in areas of administration, accounts, infrastructure, media marketing, hospitality , publicity,
            web and creatives.
            A team of over 120 members work in synchronization to execute and
            implement the splendid spectacle called Sangati.
        </p>
       <h3> Why come to sangati?</h3>
       <p> In its endeavor Sangati provides a platform to youth to express their views and creativity. It
        motivates budding managers to positively think about rural problems, competitively
        put their arguments and triumphantly put forward solutions laurels for themselves and their esteemed institutions.
        'Sangati' also provides exposure, information and knowledge about the latest in the area gathering to experience the thrills and the
        vibrancy of the event.
        For more information login to www.ksrm.ac.in</p>
    </div>
</div>

@*<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header text-center about-head">Our Team</h1>
    </div>
    
    @for (int i = 0; i < 5; i++)
    {
        <div class="row aboutpics">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
            @for (int j = 0; j < 4; j++)
            {
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/200x200" alt="">
                </a>
            </div>
            }
                </div>
       </div>
            }
        </div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
@for (int i = 1; i <= 12; i++)
{

        <div class="col-md-3">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="~/images/team/team_@(i).jpg" alt="">
            </a>
        </div>
}

    </div>
    <div class="col-lg-2"></div>
    </div>*@


<hr>
