﻿@{ 
    ViewData["Title"] = "Gallery";
}
<div class="container">
    <div id="main_area">
        <!-- Slider -->
        <div class="galleryhead">
            <h3>Gallery</h3>
            <br />
        </div>
        <div class="row">
            
            <div class="col-lg-12">
                <div class="" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-lg-12" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item" data-slide-number="0">
                                        <img src="~/images/gallery/wide/gallery_3.jpg">
                                    </div>
                                    @for (int i = 2; i < 6; i++)
                                    {
                                    <div class="item" data-slide-number="@(i-1)">
                                        <img src="~/images/gallery/wide/gallery_@(i + 1).jpg">
                                    </div>
                                    }


                                </div>
                                <!-- Carousel nav -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 slider-thumbs" id="slider-thumbs">
                <!-- Bottom switcher of slider -->
                <ul class="hide-bullets">
                    <div class="col-md-1"></div>
                    @for (int i = 0; i < 5; i++)
                    {
                    <li class="col-md-2">
                        <a class="thumbnail" id="carousel-selector-@i"><img src="~/images/gallery/square/gallery_@(i+2).jpg"></a>
                    </li>
                    }


                </ul>
            </div>
           
            <!--/Slider-->
        </div>
    </div>
</div>