
@{
    Layout = null;
}

<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KSRM</title>
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Lightbox Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap/bootstrap.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
    <link rel="stylesheet" href="~/assets/css/helpers.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/testimonial.css">
    <link rel="icon" type="image/png " href="favico.png">

</head>
<body data-spy="scroll" data-target=".nav1">
    <div id="home" class="fade-scroll">
        <div id="particles-js">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-md navbar-dark nav1">
                <div class="container">
                    <a href="~/" class="navbar-brand">
                        <img src="~/assets/images/RA.png" alt="KSRM" width="100" height="70">
                    </a>
                    <button class=" navbar-toggler" data-toggle="collapse" data-target="#navcollapse"><span class="navbar-toggler-icon"></span></button>
                    <div id="navcollapse" class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="~/" class="nav-link text-white">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a href="#about" class="nav-link text-white">ABOUT</a>
                            </li>
                            <li class="nav-item">
                                <a href="#event" class="nav-link text-white">EVENTS</a>
                            </li>
                            <li class="nav-item">
                                <a href="#highlights" class="nav-link text-white">HIGHLIGHTS</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sponsors" class="nav-link text-white">SPONSORS</a>
                            </li>
                            <li class="nav-item">
                                <a href="#footer" class="nav-link text-white">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="header">
                <h1 class=" f-head">KSRM</h1>
                <h1 class="s-head">SANGATI'18</h1>
            </div>
            <div class="register-button">
                <button class="btn btn-outline-light" id="button"><a href="#event">Register Now</a></button>
            </div>
            <svg class="arrow">
                <path class="a1" d="M0 0 L30 22 L60 0"></path>
                <path class="a2" d="M0 20 L30 42 L60 20"></path>
                <path class="a3" d="M0 40 L30 62 L60 40"></path>
            </svg>
        </div>
    </div>
    <!-- SCroll Navbar  -->
    <nav class="navbar navbar-expand-md navbar-light sticky-top nav1 " id="scroll-nav">
        <div class="container">
            <a href="~/" class="navbar-brand">
                <img src="favico.png" alt="KSRM" width="100" height="70">
            </a>
            <button class=" navbar-toggler" data-toggle="collapse" data-target="#navcollapse"><span class="navbar-toggler-icon"></span></button>
            <div id="navcollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="~/" class="nav-link text-dark">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link text-dark">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a href="#event" class="nav-link text-dark">EVENTS</a>
                    </li>
                    <li class="nav-item">
                        <a href="#highlights" class="nav-link text-dark">HIGHLIGHTS</a>
                    </li>
                    <li class="nav-item">
                        <a href="#sponsors" class="nav-link text-dark">SPONSORS</a>
                    </li>
                    <li class="nav-item">
                        <a href="#footer" class="nav-link text-dark">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ABOOUT   -->
    <section id="about">
        <div class="container">
            <div class="row mt-100">
                <div class="col-md-12  text-center">
                    <h3>About <b>KSRM SANGATI'18</b></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <blockquote data-wow-delay="0.1s" data-wow-duration="1s" class="about-quote wow fadeInUp" style="visibility: visible;
	    animation-duration: 1s;
	    animation-delay: 0.1s;
	    animation-name: fadeInUp">

                        <p>
                            KIIT School of Rural Management takes the pleasure of organizing its 5th students’ conclave “Sangati-2K18” on 24th and 25th of August, 2018. True to its name the event will boast of affable contests and competitions where budding intellectual will try to outstand each other while promoting team spirit and togetherness.
                            After the success of previous conclaves, this year we would like to level up and plan to make it big in coming years.<br>
                            This year’s Sangati is based on a theme <strong>“Entrepreneurship for Development”</strong><br>
                            You are welcome to be part of creative, passion and vibrancy at “Sangati” that will surely leave a lasting impression. This student conclave serves as a common platform for participants to know each other and interact. Besides, a little use of the brain is always gainful.
                        </p>
                        <small class="text-mute mt-5"><i>-Team Sangati</i></small>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>


    <!-- NEW FACTS SECTION  -->









    <section id="facts" class="bg-light my-10">
        <div class="container">
            <h1 class="fact-header pb-5 mb-5">Some Interesting Facts</h1>
            <div class="row">
                <div class="col-lg-3">
                    <h2 class="display-5 "><i class="fas fa-trophy  mr-2"></i>120000 </h2>
                    <p class=" text-dark">IN PRIZE MONEY TO  BE <br> WON</p>
                </div>
                <div class="col-lg-3">
                    <h2 class="display-5 "><i class="fas fa-bullseye  mr-2"></i> 400+ </h2>
                    <p class=" text-dark">PARTICIPANTS IN <br>SANGATI'18 </p>
                </div>
                <div class="col-lg-3">
                    <h2 class="display-5 "><i class="fas fa-briefcase  mr-2"></i> 20+ </h2>
                    <p class=" text-dark">EVENTS </p>
                </div>
                <div class="col-lg-3">
                    <h2 class="display-5 "><i class="fas fa-user  mr-2"></i> 1000+ </h2>
                    <p class=" text-dark">FOOTFALL </p>
                </div>
            </div>
        </div>
    </section>

    <!--   EVENTS    -->



    <section class="pb_section pb_bg-half silver" data-section="practicing-areas" id="event">

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="event-header text-center mb-5">
                    <h1 class="display-3 mb-4" style="color:#000">Events</h1>
                    <h3>Day-1 </h3>
                </div>
                <div class="single-item pb_slide_v2">
                    <div>
                        <div class="d-lg-flex d-md-block slide_content">
                            <div class="pb_content-media" style="background-image: url(assets/images/bbi.jpg);"></div>
                            <div class="slide_content-text text-center">
                                <h3 class=" text-center mt-1 mb-3">Event-1</h3>
                                <h4 class="text-center mb-4">Big Bang Idea</h4>

                                <p>
                                    <strong>  About the Theme:</strong><br><br>
                                    <blockquote data-wow-delay="0.1s" data-wow-duration="1s" class="event-quote wow fadeInUp" style="visibility: visible;
	              animation-duration: 1s;
	              animation-delay: 0.1s;
	              animation-name: fadeInUp;
								margin-bottom: 20px">
                                        The analogy of the big bang, odiously, comes from the theory of the universe. Stealing the conviction the Big Bang Idea, gives you the opportunity to underpin and develop a notion of innovative idea on “Entrepreneurship for Development” which may lead to breakthrough. This gives you the opportunity to demonstrate your revolutionary new entrepreneurship ideas and models, creating ripples in the area of development.
                                </p>
                                </blockquote>
                                <p>
                                    <strong> Flow of Competition: </strong><br><br>
                                    <blockquote data-wow-delay="0.1s" data-wow-duration="1s" class="event-quote wow fadeInUp" style="visibility: visible;
	              animation-duration: 1s;
	              animation-delay: 0.1s;
	              animation-name: fadeInUp">
                                        1. This is a group event; a team of 2-4 members can send their entries.  <br>
                                        2. The interested participants are invited to make their entries and develop an innovative entrepreneurship ideas and models, send a draft presentation along a with write up in not more than 250 words latest by 15th August, 2018. (Late entries will not be entertained) <br><br>
                                        Round 1: The Eliminator: Screening will be done by the assessment committee on the write up and presentation. The best entries will be selected to participate in the final event on 15th of August, 2018. <br><br>
                                        Round 2: The Battle: The shortlisted teams will have to give a final presentation of their idea/model on 24th of August, 2018 before the panel of judges.<strong>15 minutes will be given for presentation 5 minutes for Question Answer session.</strong> Henceforth the winners will be selected and awarded with cash prizes of Rs. 20,000, Rs. 10,000 and Rs. 5,000 respectively.

                                </p>

                                </blockquote>
                                <button class="btn btn-outline-light" id="button"><a asp-controller="Events" asp-action="Register" asp-route-eventid="101" target="_blank">REGISTER</a></button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="d-lg-flex d-md-block slide_content">
                            <div class="pb_content-media" style="background-image: url(assets/images/lh.jpg);"></div>
                            <div class="slide_content-text text-center">
                                <h3 class=" text-center mt-1 mb-3">Event-2</h3>
                                <h4 class="text-center mb-4">Lock Horns</h4>
                                <p class=" mt-4">
                                    <strong>  About the Theme:</strong><br><br>
                                    <blockquote data-wow-delay="0.1s" data-wow-duration="1s" class="event-quote wow fadeInUp" style="visibility: visible;
	               animation-duration: 1s;
	               animation-delay: 0.1s;
	               animation-name: fadeInUp;
								 margin-bottom: 20px">
                                        Topics related to entrepreneurship will be given on the spot at the time of event.
                                </p>
                                </blockquote>
                                <p class="mt-0">
                                    <strong> Flow of Competition: </strong><br><br>
                                    <blockquote data-wow-delay="0.1s" data-wow-duration="1s" class="event-quote wow fadeInUp" style="visibility: visible;
	                 animation-duration: 1s;
	                 animation-delay: 0.1s;
	                 animation-name: fadeInUp">
                                        1. This is a group event: a team of 2 members can send their entries. <br>
                                        2. Chits will be provided for selecting “For” or “Against” the motion. <br>
                                        3. Each group has to speak out on the topic based on the chits they pick. <br>
                                        4. 5 minutes will be given for both team to speak on the topic.<br />
                                        Henceforth the winners will be selected and awarded with cash prizes of Rs. 10,000, Rs. 5,000 and Rs. 2,500 respectively.

                                </p>
                                </blockquote>
                                <button class="btn btn-outline-light" id="button"><a asp-controller="Events" asp-action="Register" asp-route-eventid="102" target="_blank">REGISTER</a></button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="d-lg-flex d-md-block slide_content">
                            <div class="pb_content-media" style="background-image: url(assets/images/story.JPG);"></div>
                            <div class="slide_content-text text-center">
                                <h3 class=" text-center mt-1 mb-3">Event-3</h3>
                                <h4 class="text-center mb-4">Story Scaping</h4>
                                <p class=" mt-5">
                                    <strong>  About the Theme:</strong><br><br>
                                    <blockquote data-wow-delay="0.1s" data-wow-duration="1s" class="event-quote wow fadeInUp" style="visibility: visible;
								 animation-duration: 1s;
								 animation-delay: 0.1s;
								 animation-name: fadeInUp;
								  margin-bottom: 20px">

                                        The topic for this event is “Doubling Farmers’ Income”. Sustainable and successful cases and models can be presented as posters. Real time ongoing cases can only be presented. Pictures, data, writes ups and handmade videos are permissible for the posters.
                                </p>
                                </blockquote>
                                <p>
                                    <strong> Flow of Competition: </strong><br><br>
                                    <blockquote data-wow-delay="0.1s" data-wow-duration="1s" class="event-quote wow fadeInUp" style="visibility: visible;
									animation-duration: 1s;
									animation-delay: 0.1s;
									animation-name: fadeInUp">
                                        1. This is a group event; a team of 2-4 members can send their entries. <br>
                                        2. The interested participants are invited to make their entries and develop their own cases, specifying how it has been instrumental in doubling farmers’ income. <br><br>
                                        Henceforth the winners will be selected and awarded with cash prizes of Rs. 10,000, Rs. 5,000 and Rs. 2,500 respectively.

                                </p>
                                </blockquote>
                                <button class="btn btn-outline-light" id="button"><a asp-controller="Events" asp-action="Register" asp-route-eventid="103" target="_blank">REGISTER</a></button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="d-lg-flex d-md-block slide_content">
                            <div class="pb_content-media" style="background-image: url(assets/images/bab.jpg);"></div>
                            <div class="slide_content-text text-center">
                                <h3 class=" text-center mt-1 mb-3">Event-4</h3>
                                <h4 class="text-center mb-4">Bulls and Bear</h4>
                                <p class=" mt-5">
                                    <strong>  About the Theme:</strong><br><br>
                                    <blockquote data-wow-delay="0.1s" data-wow-duration="1s" class="event-quote wow fadeInUp" style="visibility: visible;
	               animation-duration: 1s;
	               animation-delay: 0.1s;
	               animation-name: fadeInUp;
								  margin-bottom: 20px  ">

                                        It is modeled on stock exchanges; the game will take you through the main moves of share transactions, capturing the excitement of real time trading on stock market. BULLS & BEARS gives a feeling of actual trading in the market, enhances the skill of negotiating, convincing and selling along with loads of fun for the participants as well as the audience. There are 2 groups involved in this game such as representative group or host group and investor group or participant group.  Game will continue throughout the event days i.e 2 days and the trading will occur for few minutes many a times throughout the event days.
                                </p>
                                </blockquote>

                                <p>
                                    <strong> Flow of Competition: </strong><br><br>
                                    <blockquote data-wow-delay="0.1s" data-wow-duration="1s" class="event-quote wow fadeInUp" style="visibility: visible;
	                animation-duration: 1s;
	                animation-delay: 0.1s;
	                animation-name: fadeInUp">
                                        1. Maximum of 3 students from one college can participate as investor group. <br><br>
                                        2. Each investor group is the decision maker. There are no middle-men (brokers or brokerage fees)  involved in the game <br><br>
                                        3. The first five minutes when the market begins (as announced by the hostess), investors will buy stocks from representative groups. <br><br>
                                        4. Investor groups cannot buy or sell their stocks from/to other investor groups. <br><br>
                                        5. Investor groups cannot buy or sell a stock to other representative groups other than the representative stock. <br><br>
                                        Henceforth the winners will be selected and awarded with cash prizes of Rs. 10,000, Rs. 5,000 and Rs. 2,500 respectively.

                                </p>
                                </blockquote>
                                <button class="btn btn-outline-light" id="button"><a asp-controller="Events" asp-action="Register" asp-route-eventid="104" target="_blank">REGISTER</a></button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="d-lg-flex d-md-block slide_content">
                            <div class="pb_content-media" style="background-image: url(assets/images/cn.jpg);"></div>
                            <div class="slide_content-text text-center">
                                <h3 class=" text-center mt-1 mb-3">Event-5</h3>
                                <h4 class="text-center mb-4">Cultural Night</h4>
                                <p class=" mt-4">
                                    <strong>  About the Theme:</strong><br><br>
                                    <blockquote data-wow-delay="0.1s" data-wow-duration="1s" class="event-quote wow fadeInUp" style="visibility: visible;
	               animation-duration: 1s;
	               animation-delay: 0.1s;
	               animation-name: fadeInUp;
								  margin-bottom: 20px  ">
                                        In the evening, a band from Kolkata will be performing for about an hour and half in order to entertain the crowd and lighten their mood. The band will be further followed by an in-house cultural programme including a fiesta of dance, drama and many other forms of merry making put up by the entire student team of host college KSRM.
                                </p>
                                </blockquote>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="event-header2 text-center mb-5">
                    <h3>Day-2 </h3>
                </div>
                <div class="single-item pb_slide_v2">
                    <div>
                        <div class="d-lg-flex d-md-block slide_content">
                            <div class="pb_content-media" style="background-image: url(assets/images/marketing.JPG);"></div>
                            <div class="slide_content-text text-center">
                                <h3 class=" text-center mt-1 mb-3">Event-1</h3>
                                <h4 class="text-center mb-4">Marketing Hub</h4>

                                <p>
                                    <strong>  About the Theme:</strong><br><br>
                                    <blockquote data-wow-delay="0.1s" data-wow-duration="1s" class="event-quote wow fadeInUp" style="visibility: visible;
								animation-duration: 1s;
								animation-delay: 0.1s;
								animation-name: fadeInUp;
								margin-bottom: 20px">
                                        It is a marketing game based on product selling and promotion. In this game, participants will be given a certain product and will be asked to promote the product within a certain period of time before a given sample audience.
                                </p>
                                </blockquote>
                                <p>
                                    <strong> Flow of Competition: </strong><br><br>
                                    <blockquote data-wow-delay="0.1s" data-wow-duration="1s" class="event-quote wow fadeInUp" style="visibility: visible;
								animation-duration: 1s;
								animation-delay: 0.1s;
								animation-name: fadeInUp">
                                        1. Maximum 2 students from one college can participate in the game. <br>
                                        2. The participants will be asked to develop certain marketing strategies by using various marketing principle in order to attract more customer towards the product. <br><br>
                                        Henceforth the winners will be selected and awarded with cash prizes of Rs. 10,000, Rs. 5,000 and Rs. 2,500 respectively.
                                </p>

                                </blockquote>
                                <button class="btn btn-outline-light" id="button"><a asp-controller="Events" asp-action="Register" asp-route-eventid="105" target="_blank">REGISTER</a></button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="d-lg-flex d-md-block slide_content">
                            <div class="pb_content-media" style="background-image: url(assets/images/Qriosity.JPG);"></div>
                            <div class="slide_content-text text-center">
                                <h3 class=" text-center mt-1 mb-3">Event-2</h3>
                                <h4 class="text-center mb-4">Qriosity</h4>
                                <p class=" mt-4">
                                    <strong>  About the Theme:</strong><br><br>
                                    <blockquote data-wow-delay="0.1s" data-wow-duration="1s" class="event-quote wow fadeInUp" style="visibility: visible;
								 animation-duration: 1s;
								 animation-delay: 0.1s;
								 animation-name: fadeInUp;
								 margin-bottom: 20px">
                                        It is a quiz competition framed in order to test the wittiest brains in competition. The quiz will cover questions on all the current affairs around the globe. Abiding by the rule of “survival of the fittest”, the healthiest and wittiest minds shall be honored.
                                </p>
                                </blockquote>
                                <p class="mt-0">
                                    <strong> Flow of Competition: </strong><br><br>
                                    <blockquote data-wow-delay="0.1s" data-wow-duration="1s" class="event-quote wow fadeInUp" style="visibility: visible;
									 animation-duration: 1s;
									 animation-delay: 0.1s;
									 animation-name: fadeInUp">
                                        1. From every college maximum of 2 participants will be allowed to participate.  <br>
                                        2. The quiz will have several rounds of time specific questions where the teams will have to get through each one of them in order to make it to the top. <br>
                                        3. In case of any tie breaker situation, a special buzzer round will be organized. <br><br>
                                        Henceforth the winners will be selected and awarded with cash prizes of Rs. 7,500, Rs. 5,000 and Rs. 2,500 respectively.
                                </p>
                                </blockquote>
                                <button class="btn btn-outline-light" id="button"><a asp-controller="Events" asp-action="Register" asp-route-eventid="106" target="_blank">REGISTER</a></button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="d-lg-flex d-md-block slide_content">
                            <div class="pb_content-media" style="background-image: url(assets/images/ashwin.jpg);"></div>
                            <div class="slide_content-text text-center">
                                <h3 class=" text-center mt-1 mb-3">Event-3</h3>
                                <h4 class="text-center mb-4">Pep Talk</h4>
                                <p class=" mt-5">
                                    <strong>  About the Theme:</strong><br><br>
                                    <blockquote data-wow-delay="0.1s" data-wow-duration="1s" class="event-quote wow fadeInUp" style="visibility: visible;
								 animation-duration: 1s;
								 animation-delay: 0.1s;
								 animation-name: fadeInUp;
									margin-bottom: 20px">

                                        
                                        The primary objective of pep talk is to make the young minds feel more courageous and enthusiastic. Though, our theme is based on entrepreneurship so two young entrepreneurs (tentative) are invited to share their success stories and inspire the young minds to achieve great height. They are: <br><br>
                                        Ashwin Srivastava (Venture Capitalist) <br>

                                </p>
                                </blockquote>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="d-lg-flex d-md-block slide_content">
                            <div class="pb_content-media" style="background-image: url(assets/images/b.jpg);"></div>
                            <div class="slide_content-text text-center">
                                <h3 class=" text-center mt-1 mb-3">Event-4</h3>
                                <h4 class="text-center mb-4">Star Night</h4>
                                <p class=" mt-5">
                                    <strong>  About the Theme:</strong><br><br>
                                    <blockquote data-wow-delay="0.1s" data-wow-duration="1s" class="event-quote wow fadeInUp" style="visibility: visible;
								 animation-duration: 1s;
								 animation-delay: 0.1s;
								 animation-name: fadeInUp;
									margin-bottom: 20px  ">
                                        A star studded night will be organized for lightening the mood and setting up a relaxed mode for all the participants at the conclave. The tentative star who would facilitate entertainment will be the very famous Mr. Nishant Tanwar, who happens to be an emerging standup comedian and is known for his witty and hilarious take on the serious issue of day to day life. <br><br>
                                        The final commencement of 5th student conclave “Sangati 2K18” will be done with fabulous DJ AJES in order to bid “Sangati 2K18 a grand and a merry adieu.
                                </p>
                                </blockquote>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <!-- RULES FOR PARTICIPATION -->
        <div class="row mt-120" id="rules">
            <div class="col-lg-2"></div>
            <div class="col-lg-8" id="rules-col">
                <h3 class=" text-center mt-40 mb-3" style="color:#000">Rules for Participation for Sangati</h3><br>
                Participant should be a bona-fide student of any post graduate programme.<br>
                <br>
                <blockquote data-wow-delay="0.1s" data-wow-duration="1s" class="event-quote wow fadeInUp" style="visibility: visible;
			animation-duration: 1s;
			animation-delay: 0.1s;
			animation-name: fadeInUp ">
                    <p>
                        1. Each institution can send maximum of 7 students for participating in the event. (Exceed
                        members travelling expenses will not be reimbursed).<br>
                        2. 3rd AC travel will be reimbursed for the shortest route. Extra money on tatkal reservation will
                        not be paid.<br>
                        3. The write up is to be sent to us on our mail id email me<a href="mailto:sangati2k18@gmail.com?subject=feedback"> sangati2k18@gmail.com</a> and the write-ups can
                        also be uploaded on our official website <a href="www.ksrmsangati.com" target="_blank">www.ksrmsangati.com</a> <br>
                        4. The mail should have the subject line Sangati 2K18_ College name and the body with
                        following details in the mail: <br>
                        o Name of the Participants <br>
                        o Participating Events <br>
                        o Institution name and Programme <br>
                        o Contact Number and Mail ID <br><br>
                        The shortlisted entries will be notified by mails. You have to register your name by 20th of
                        August, 2018.<br>
                        5. Each participating member will be charged ? 300 as administration fee.
                        <strong>	Hospitality will be borne by KSRM for 4 days and 3 nights.</strong> <br>
                    </p>
                </blockquote>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </section>


    <!-- Highlights  -->
    <section id="highlights">
        <div class="container">
            <h1 class="text-center" style="color:#000"><strong>Highlights</strong></h1>
            <p class="text-center lead">Check out our Gallery</p>
            <div class="row mb-4">
                <div class="col-md-4">
                    <a href="assets\images\DSC_0051.JPG" data-toggle="lightbox" data-gallery="img-gallery" data-height="560" data-width="560">
                        <img src="assets\images\DSC_0051.JPG" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets\images\DSC_0052.JPG" data-toggle="lightbox" data-gallery="img-gallery" data-height="561" data-width="561">
                        <img src="assets\images\DSC_0052.JPG" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets\images\DSC_0091.JPG" data-toggle="lightbox" data-gallery="img-gallery" data-height="562" data-width="562">
                        <img src="assets\images\DSC_0091.JPG" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4">
                    <a href="assets\images\DSC_0108.JPG" data-toggle="lightbox" data-gallery="img-gallery" data-height="564" data-width="564">
                        <img src="assets\images\DSC_0108.JPG" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets\images\DSC_0213.JPG" data-toggle="lightbox" data-gallery="img-gallery" data-height="565" data-width="565">
                        <img src="assets\images\DSC_0213.JPG" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets\images\DSC_0264.JPG" data-toggle="lightbox" data-gallery="img-gallery" data-height="566" data-width="566">
                        <img src="assets\images\DSC_0264.JPG" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <a href="assets\images\DSC_0407.JPG" data-toggle="lightbox" data-gallery="img-gallery" data-height="564" data-width="564">
                        <img src="assets\images\DSC_0407.JPG" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets\images\DSC_0500.JPG" data-toggle="lightbox" data-gallery="img-gallery" data-height="565" data-width="565">
                        <img src="assets\images\DSC_0500.JPG" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets\images\DSC_0588.JPG" data-toggle="lightbox" data-gallery="img-gallery" data-height="566" data-width="566">
                        <img src="assets\images\DSC_0588.JPG" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4">
                    <a href="assets\images\DSC_0706.JPG" data-toggle="lightbox" data-gallery="img-gallery" data-height="564" data-width="564">
                        <img src="assets\images\DSC_0706.JPG" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets\images\DSC_0749.JPG" data-toggle="lightbox" data-gallery="img-gallery" data-height="565" data-width="565">
                        <img src="assets\images\DSC_0749.JPG" alt="" class="img-fluid">
                    </a>
                </div>

            </div>
        </div>
        @*<div class="container">
            <img src="~/assets/images/sm.png" class="img-fluid" />
            </div>*@
    </section>
    <!--  Sponsors  -->
    <section id="sponsors" class="bg-light">
        <div class="container">
            <div class="sponsorstitle">
                <h1 class="display-4">Sponsors</h1><br>
            </div>
            <div class="sponsors">
                <ul>
                    <li>
                        <a href="#">
                            <div id="box1">
                                <div id="overlay">
                                    <span id="name">Airtel</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div id="box2">
                                <div id="overlay">
                                    <span id="name">Swadist Spices</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div id="box3">
                                <div id="overlay">
                                    <span id="name">Indian oil</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div id="box4">
                                <div id="overlay">
                                    <span id="name">Reliance Foundation</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul>
                    @*<li>
                        <a href="#">
                            <div id="box5">
                                <div id="overlay">
                                    <span id="name">Odisha Live</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div id="box6">
                                <div id="overlay">
                                    <span id="name">NALCO</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div id="box7">
                                <div id="overlay">
                                    <span id="name">Aditya Birla</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div id="box8">
                                <div id="overlay">
                                    <span id="name">Annapurna Finance</span>
                                </div>
                            </div>
                        </a>
                    </li>*@

                    <li>
                        <div id="box9">
                            <div id="overlay">
                                <span id="name">h</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </section>



    <!-- Testimonials section -->
    @*<section id="testim" class="testim bg-dark">
            <h1 class="display-4 text-center mt-5">What Alumini Say?</h1>
            <!--         <div class="testim-cover"> -->
            <div class="wrap">
                <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                <ul id="testim-dots" class="dots">
                    <li class="dot active"></li>
                    <!--
                    -->
                    <li class="dot"></li>
                    <!--
                    -->
                    <li class="dot"></li>
                    <!--
                    -->
                    <li class="dot"></li>
                    <!--
                    -->
                    <li class="dot"></li>
                </ul>
                <div id="testim-content" class="cont">
                    <div class="active">
                        <div class="img"><img src="assets\images\Rohit Maskara.jpg" alt=""></div>
                        <h2>
                            Rohit Maskara  <br>
                            Batch: 2009-11   <br>
                            Project Officer, United Nations Development Programme (UNDP)
                        </h2>
                        <p>“Sangati provides opportunities to have excelled; self-improvement & fun and any student can be a part of it. Regardless of a student’s personal preferences and areas of interest, there are so many avenues to participate in ‘Sangati’, even a small contribution could be enough to feel like part of a bigger event”.</p>
                    </div>
                    <div>
                        <div class="img"><img src="assets\images\SUBHAM MEHTA.jpg" alt=""></div>
                        <h2>
                            Shubham Mehta  <br>
                            Batch: 2010-12   <br>
                            Senior Manager, NABARD Financial Services Limited (NABFINS)
                        </h2>
                        <p>“<strong>SANGATI</strong>”…..resembles…..collaborantion….confluence….convergence…coherence…synerg! It has not only became a key platform for budding Rural Managers to stimulate ideas, innovations and solutions to address crucial development and management challenges for serving people at Bottom of the Pyramid  but also has evolved as premier event for brilliant minds to showcase the roadmap for transformation”.</p>
                    </div>
                    <div>
                        <div class="img"><img src="assets\images\Soumyajit Auddy.jpg" alt=""></div>
                        <h2>
                            Soumyajit Auddy  <br>
                            Batch: 2010-12  <br>
                            Project Manager, Seva Mandir, Udaipur
                        </h2>
                        <p>“In a dynamic and rapidly evolving socio-economic and political scenario it is imperative that the roadmap of development has to be charted through consistent debates and discourses. Sangati brings the best and bright brains of the country together and provides them with a platform for putting forth creative and innovative ideas and finding practical and sustainable solutions to address specific issues of development. As Mahatma Gandhi said, "Be the change that you wish to see in the world", Sangati provides an opportunity to budding development practitioners to experience this change first hand. I would like to congratulate the entire Sangati team for the untiring efforts they have put in to put together such a marvelous event of this magnitude”.</p>
                    </div>
                    <div>
                        <div class="img"><img src="~/assets/images/supreeti patra.jpg" alt=""></div>
                        <h2>
                            Supreeti Patra  <br>
                            Batch: 2014-16   <br>
                            Research Associate, Bills and Melinda Gates Foundation
                        </h2>
                        <p>“As the legacy continues, “Sangati” has undoubtedly always been a collective efforts made by the students of KSRM. This platform brings students from all over nation to gather and share their knowledge. This not only ignites the young minds, but brings the world closer and help them thrive to be better rural managers in the future. “Sangati” helps us connected to our own roots and in a way acts a guidance to work for the people. We as change managers can make this world better to live in.”</p>
                    </div>

                </div>
            </div>
            <!--         </div> -->
        </section>*@


    @*<!-- TESTIMONIALS -->
    <!-- Showcase Carousel with background images -->
    <section id="showcase ">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators-->
            <ol class="carousel-indicators">
                <li class="active" data-target="#mycarousel" data-slide-to=0> </li>
                <li data-target="#mycarousel" data-slide-to=1> </li>
                <li data-target="#mycarousel" data-slide-to=2> </li>
                <li data-target="#mycarousel" data-slide-to=3> </li>
                <li data-target="#mycarousel" data-slide-to=4> </li>
                <li data-target="#mycarousel" data-slide-to=5> </li>
            </ol>
            <div class="carousel-inner">

                <div class="carousel-image1 carousel-item active">
                    <!-- carousel-image1 is css class not a bootstrap one -->
                    <div class="container">
                        <h1 class="  text-white">TESTIMONIALS</h1>
                        <div class="carousel-caption text-right mb-5">
                            <img src="assets\images\supreeti patra.jpg" class="img-fluid d-md-block d-none rounded-circle w-2  my-4">
                            <h3>
                                Supreeti Patra  <br>
                                Batch: 2014-16   <br>
                                Research Associate, Bills and Melinda Gates Foundation
                            </h3>
                            <p><i class="fas fa-quote-left fa-3x text-dark mr-1"></i>As the legacy continues, “Sangati” has undoubtedly always been a collective efforts made by the students of KSRM. This platform brings students from all over nation to gather and share their knowledge. This not only ignites the young minds, but brings the world closer and help them thrive to be better rural managers in the future. “Sangati” helps us connected to our own roots and in a way acts a guidance to work for the people. We as change managers can make this world better to live in.<i class="fas fa-quote-right fa-3x ml-1"></i></p>

                        </div>
                    </div>
                </div>
                <div class="carousel-image2 carousel-item ">
                    <!-- carousel-image1 is css class not a bootstrap one -->
                    <div class="container">
                        <h1 class="  text-white">TESTIMONIALS</h1>
                        <div class="carousel-caption   mb-5">
                            <img src="assets\images\Soumyajit Auddy.jpg" class="img-fluid d-md-block d-none rounded-circle w-2  my-4">
                            <h3>
                                Soumyajit Auddy  <br>
                                Batch: 2010-12  <br>
                                Project Manager, Seva Mandir, Udaipur
                            </h3>
                            <p><i class="fas fa-quote-left fa-3x text-dark mr-1"></i>In a dynamic and rapidly evolving socio-economic and political scenario it is imperative that the roadmap of development has to be charted through consistent debates and discourses. Sangati brings the best and bright brains of the country together and provides them with a platform for putting forth creative and innovative ideas and finding practical and sustainable solutions to address specific issues of development. As Mahatma Gandhi said, "Be the change that you wish to see in the world", Sangati provides an opportunity to budding development practitioners to experience this change first hand. I would like to congratulate the entire Sangati team for the untiring efforts they have put in to put together such a marvelous event of this magnitude<i class="fas fa-quote-right fa-3x ml-1"></i></p>

                        </div>
                    </div>
                </div>
                <div class="carousel-image3 carousel-item ">
                    <!-- carousel-image1 is css class not a bootstrap one -->
                    <div class="container">
                        <h1 class="  text-white">TESTIMONIALS</h1>
                        <div class="carousel-caption  text-right mb-5">
                            <img src="assets\images\Rohit Maskara.jpg" class="img-fluid d-md-block d-none rounded-circle w-2  my-4">
                            <h3>
                                Rohit Maskara <br>
                                Batch: 2009-11  <br>
                                Project Officer, United Nations Development Programme (UNDP)
                            </h3>
                            <p class="lead"><i class="fas fa-quote-left fa-3x text-dark mr-1"></i>Sangati provides opportunities to have excelled; self-improvement & fun and any student can be a part of it. Regardless of a student’s personal preferences and areas of interest, there are so many avenues to participate in ‘Sangati’, even a small contribution could be enough to feel like part of a bigger event<i class="fas fa-quote-right fa-3x"></i></p>

                        </div>
                    </div>
                </div>
                <div class="carousel-image4 carousel-item ">
                    <!-- carousel-image1 is css class not a bootstrap one -->
                    <div class="container">
                        <h1 class="  text-white">TESTIMONIALS</h1>
                        <div class="carousel-caption text-right mb-5">
                            <img src="assets\images\SUBHAM MEHTA.jpg" class="img-fluid d-md-block d-none rounded-circle w-2  my-4">
                            <h3>
                                Shubham Mehta  <br>
                                Batch: 2010-12   <br>
                                Senior Manager, NABARD Financial Services Limited (NABFINS)
                            </h3>
                            <p><i class="fas fa-quote-left fa-3x text-dark mr-1"></i><strong>SANGATI</strong>…..resembles…..collaborantion….confluence….convergence…coherence…synerg! It has not only became a key platform for budding Rural Managers to stimulate ideas, innovations and solutions to address crucial development and management challenges for serving people at Bottom of the Pyramid  but also has evolved as premier event for brilliant minds to showcase the roadmap for transformation<i class="fas fa-quote-right fa-3x ml-1"></i></p>

                        </div>
                    </div>
                </div>

                <div class="carousel-image5 carousel-item ">
                    <!-- carousel-image1 is css class not a bootstrap one -->
                    <div class="container">
                        <h1 class="  text-white">TESTIMONIALS</h1>
                        <div class="carousel-caption text-right mb-5">
                            <img src="assets\images\gbpant.jpg" class="img-fluid d-md-block d-none rounded-circle w-2  my-4">
                            <h3>
                                G.B. PANT University  <br>
                                Uttarakhand   <br>
                            </h3>
                            <p><i class="fas fa-quote-left fa-3x text-dark mr-1"></i>It was an amazing conclave for us. It gave us a chance to explore ourselves. It helped us to know about our own strength and weakness. We enjoyed and most importantly learnt a lot from Sangati. Really from heart, we want to participate again in the conclave, whenever it will be happening.<i class="fas fa-quote-right fa-3x ml-1"></i></p>

                        </div>
                    </div>
                </div>

                <div class="carousel-image6 carousel-item ">
                    <!-- carousel-image1 is css class not a bootstrap one -->
                    <div class="container">
                        <h1 class="  text-white">TESTIMONIALS</h1>
                        <div class="carousel-caption text-right mb-5">
                            <img src="assets\images\utkal.jpg" class="img-fluid d-md-block d-none rounded-circle w-2  my-4">
                            <h3>
                                Center for Agri-Management<br>
                                Utkal University <br>
                                Odisha, India
                            </h3>
                            <p><i class="fas fa-quote-left fa-3x text-dark mr-1"></i>Last year, in Sangati 2K17 the topic was Development through Rural Marketing. We got an opportunity to participate with many renowned B-Schools.   We presented a project on Supply Chain Management of Rural Product in Big Bang Idea event. Overall experience is very good. Sangati 2K17 helped in providing a platform to showcase our skill and talent.<i class="fas fa-quote-right fa-3x ml-1"></i></p>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel control -->
            <a href="#mycarousel" class="carousel-control-prev" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
            <a href="#mycarousel" class="carousel-control-next" data-slide="next"><span class="carousel-control-next-icon"></span></a>
        </div>
    </section>

    <!-- END OF TESTIMONIALS -->*@
    <!--  TEAM   -->
    <section id="author" class="mb-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="info-header mb-5">
                        <h1 class="text-dark pb-3">Meet The Team </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/assets/images/contacts/Akansha.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Akanksha Choubey</h3>
                            <h5><i></i></h5>
                            <p></p>
                            <small>Mobile: +91-7000608258</small>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="https://facebook.com"><i class="fab fa-facebook"></i></a> <!-- For social media icons we use "fab" instead of "fas" -->
                                </div>
                                <div class="p-4">
                                    <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                                </div>
                                <div class="p-4">  <a href="https://twitter.com"><i class="fab fa-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/assets/images/contacts/prashant.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Prashant Kumar Singh</h3>
                            <h5><i></i></h5>
                            <p></p>
                            <small>Mobile: +91-9777194937</small>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="https://facebook.com"><i class="fab fa-facebook"></i></a> <!-- For social media icons we use "fab" instead of "fas" -->
                                </div>
                                <div class="p-4">
                                    <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                                </div>
                                <div class="p-4">  <a href="https://twitter.com"><i class="fab fa-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/assets/images/contacts/loknath.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Lokanath Das</h3>
                            <h5><i></i></h5>
                            <p></p>
                            <small>Mobile: +91-9776789690</small>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="https://facebook.com"><i class="fab fa-facebook"></i></a> <!-- For social media icons we use "fab" instead of "fas" -->
                                </div>
                                <div class="p-4">
                                    <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                                </div>
                                <div class="p-4">  <a href="https://twitter.com"><i class="fab fa-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/assets/images/contacts/someshu.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Somesu Ranjan Mohapatra</h3>
                            <h5><i></i></h5>
                            <p></p>
                            <small>Mobile: +91-7873763902</small>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="https://facebook.com"><i class="fab fa-facebook"></i></a> <!-- For social media icons we use "fab" instead of "fas" -->
                                </div>
                                <div class="p-4">
                                    <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                                </div>
                                <div class="p-4">  <a href="https://twitter.com"><i class="fab fa-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  FOOTER    -->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="foo-header mt-5">
                        <h2 class="foo-head display-8">Contact Us:</h2>
                    </div>
                    <p class="lead">
                        Kalyani Tripathy (Asst. PGP Officer) <br>
                        Mobile: +91-7978068130  	<br>
                        Email-id : <a href="mailto:Sangati2k18@gmail.com?subject=feedback">Sangati2k18@gmail.com</a><br>
                        Adress: KIIT School of Rural Management <br>
                        Campus-7, Krishna Campus <br>
                        Kalinga Institute of Industrial Technology, Bhubaneswar-24 <br>
                    </p>
                </div>
            </div>

        </div>
    </section>


    <!-- loader -->
    <div id="pb_loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#FDA04F" /></svg></div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/jquery.easing.1.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false">

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noisy/1.2/jquery.noisy.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    <script type="text/javascript" src="~/particles.js"></script>
    <script type="text/javascript" src="~/particles.min.js"></script>
    <script type="text/javascript" src="~/app.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script type="text/javascript" src="~/assets/js/testimonial.js"></script>
        <script>
            new WOW().init();
            // Lightbox init
                    $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
            $(this).ekkoLightbox();
        });


                    window.onscroll = function () {scrollFunction()};

                    function scrollFunction() {
                        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("scroll-nav").style.top = "0";
            } else {
                document.getElementById("scroll-nav").style.top = "-100px";
            }
        }
        //visible
        var isVisible = false;
                    $(window).scroll(function () {
                        var shouldBeVisible = $(window).scrollTop() > 310;
                        if (shouldBeVisible && !isVisible) {
                isVisible = true;
            $('#scroll-nav').show();
                        } else if (isVisible && !shouldBeVisible) {
                isVisible = false;
            $('#scroll-nav').hide();
        }
            });

            //Configure slider
            $(".carousel").carousel({
                interval: 1000;
            });

//Init Scrollspy
                    $("body").scrollspy({target: ".nav1" });

                    $(document).ready(function () {
                // Add smooth scrolling to all links
                $("nav a").on('click', function (event) {

                    // Make sure this.hash has a value before overriding default behavior
                    if (this.hash !== "") {
                        // Prevent default anchor click behavior
                        event.preventDefault();

                        // Store hash
                        var hash = this.hash;

                        // Using jQuery's animate() method to add smooth page scroll
                        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 800, function () {

                            // Add hash (#) to URL when done scrolling (default click behavior)
                            window.location.hash = hash;
                        });
                    } // End if
                });
            });

                   


    </script>
</body>
</html>

