﻿@{
    ViewData["Title"] = "Home Page";
}

<!-- banner -->
<div class="banner">
    <div class="container">
       
        <div class="">
            @*<div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider">
                        <li><h3>4th Student's Conclave</h3></li>
                        <li><h3>SANGATI</h3></li>
                    </ul>
                    <p>Development through rural marketing</p>

                    <a class="hvr-bounce-to-bottom morebtn" href="#more">MORE</a>
                </div>
            </div>*@
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/images/home/home1.jpg" alt="Los Angeles">

                    </div>

                    <div class="item caritem">
                        <img src="~/images/home/home2.jpg" alt="Chicago">

                    </div>

                    <div class="item">
                        <img src="~/images/home/home3.jpg" alt="New York">

                    </div>
                    <div class="carousel-caption caption">
                        <h3>4th Students' Conclave</h3>
                        <p>Development through rural marketing</p>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
        <div class="bottom-grids" id="more">

            <div class="col-md-3 bottom-one">
                <div class="bottom-text">
                    <p>
                        "Sangati- the Students' Conclave , an initiative by KSRM student to promote rural
entrepreneurship and enterprise has gained extraordinary momentum and popularity amongst
business schools in last three years . I hope this year&#39;s innovative topic &quot;Development
through Rural Marketing&quot; will take it to new heights of engagement and participation from
business schools"
                    </p>
            

                    <h3>
                        - L.K. Vaswani
                        <br />
                        ( Director )
                    </h3>
                </div>
            </div>
            <div class="col-md-3 bottom-two">
                <div class="bottom-text">

                    <p>
                        "This year sangati with its theme of rural marketing explores , suggests and ideates on new dimensions of rural markets which will be
inclusive of poor rural entrepreneurs and small producers. Sangati carries forward the schools principle of encouragement to rural
producers through academics and Praxis.  Good luck to sangati 2017"
                    </p>
                    <br />
                    
                    <h3>
                        - Madumita Ray <br />
                        
                    </h3>
                </div>
            </div>
      
            <div class="col-md-3 bottom-three">
                <div class="bottom-text">

                    <p>
                        "For me, Sangati signifies &quot;Harmony&quot; - harmony of new ideas, new thought processes and most of all a new beginning. I still
remember it&#39;s grand opening in the year 2014. It has been almost 3 years and I am certainly looking forward for it&#39;s 4th anniversary and
wishing it all the success. Long live KSRM !!"
                    </p>
                    <br />
                    <h3>
                       - Kalyani Tripathy
                    </h3>
                </div>
            </div>
            <div class="col-md-3 bottom-four">
                <div class="bottom-text">
                    <p>
                        "&quot;Sangati&quot; aims to focus on the topic which has an importance in the society and
this year the students aim is to know the development through Rural Marketing. Wish
all the students best of luck for this future endeavor"
                    </p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <h3>
                       - Snigdha Mohanty
                    </h3>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //banner-bottom -->    


<!-- popular -->
<div class="popular" id="events">
    <div class="container">
        <div class="popular-head">
            <h3>EVENTS</h3>
        </div>
        <div class="popular-grids">
            <div class="col-md-4 popular-grid">
                <img src="~/images/events/event1.jpg" alt="" />
                <a asp-controller="Events" asp-action="Event" asp-route-eventId="101">
                <div class="pop-desc">
                    <p>BIG BANG IDEA</p>
                </div>
                    </a>
            </div>
            <div class="col-md-4 popular-grid">
                <img src="~/images/events/event2.jpg" alt="" />
                <a asp-controller="Events" asp-action="Event" asp-route-eventId="102">
                <div class="pop-desc">
                    <p>LOCK HORNS</p>
                </div>
                    </a>
            </div>
            <div class="col-md-4 popular-grid">
                <img src="~/images/events/event3.jpg" alt="" />
                <a asp-controller="Events" asp-action="Event" asp-route-eventId="103">
                    <div class="pop-desc">
                        <p>STORY SCAPING</p>
                    </div>
                    </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //popular -->

<!--timeline-->
<div class="container">
    <div class="row testimonials">
        <div class="col-lg-12">
            <h3 class="text-center">Testimonials</h3>
            <p class="testimonial-tag">
                What our alumni say about Sangati!
            </p>
            <ul class="timeline">
                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="~/images/alumni/alumni1.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Tushar Bhaskar, 
                                2015-17

                            </h4>
                            <h4 class="subheading">Currently Working in
                            Niriyas Food  Products Pvt.Ltd.</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                "Sangati is a perfect platform which gives students to face the real time decision making challenges which the managers has to face daily in their profession, as its a student conclave conducted by the students. Sangati turns out to be one of the most memorable part in the journey of two years."
                            </p>
                        </div>
                    </div>
                    <div class="line"></div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="~/images/alumni/alumni2.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Soumyajit Auddy, 
                                2010-12 </h4>
                            <h4 class="subheading">Currently working in SevaMandir</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                "Sangati gives our budding development professionals the platform where they can actually experience the challenges of development and fid solutions in real-time. Congratulations to Team KSRM for organizing this event."
                            </p>
                        </div>
                    </div>
                    <div class="line"></div>
                </li>
                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="~/images/alumni/alumni3.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Souradip Mandal, 
                                2015-17</h4>
                            <h4 class="subheading">Currently working in
                            NAFED</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                "It motivates to see how the rural managers meet, to be triumphant in addressing the problems of the rural half and winning laurels for themselves during the process. ‘Sangati’ has provided a platform for the management students to gain exposure and knowledge, which surely is the best of its kind. Having been a part of the gathering, I know the thrills and the flamboyancy of the event. Good luck to the participants and best wishes to my fellow juniors and the faculty members involved in making it a success."
                            </p>
                        </div>
                    </div>
                    <div class="line"></div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="~/images/alumni/alumni4.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Ankit Sukwal, 
                            2015-17</h4>
                            <h4 class="subheading">Currently working in NAFED</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                "Sangati the student's conclave is the great platform for students of Rural Management/development to showcase their new ideas and knowledge. I participated in both the Sangati conclaves during my MBA program and learn a lot from that.Because Sangati is the conclave where you interact with like minded people and contribute your knowledge for the development of society."
                            </p>
                        </div>
                    </div>
                    <div class="line"></div>
                    @*<div class="line"></div>*@
                </li>

                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="~/images/alumni/alumni5.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>
                                Mohammad Sultan
                            </h4>
                            <h4 class="subheading">
                                Associate-Market Linkage | TechnoServe India
                            </h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                "`Sangati’ – A fantastic event for budding rural managers to learn and explore the rural management
dynamics in the best way. It provides the platform for the students to think innovative and also find
innovative solutions for the problems. Another best thing about sangati is that it provides for “Peer-to-
Peer” learning and more interestingly with an environment full of excitement and achievement. This
helps in holisitic development of the students. Truly it turned out to be one of the most memorable and
wonderful event in my life. Best wishes to my lovely juniors and faculty members for making it a grand
success.
"All the budding rural managers take step towards Pragati through Sangati""
                            </p>
                        </div>
                    </div>
                    
                </li>
                @*<li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/5" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Bonus Step</h4>
                            <h4 class="subheading">Subtitle</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </li>*@
            </ul>
        </div>
    </div>
</div>

<!-- experience -->
<div class="we-focus" id="sponsors">
    <div class="container">
        <div class="focus-grids">
            <div class="row">
            <div class="col-md-6 focus-grid">
                <h3>SPONSORS <span>Thank you for your support!</span></h3>
                <p>
                    Here are the list of the sponsors who made the event possible.
                </p>
            </div>
            <div class="col-md-3 focus-grid">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image a">
                            <img src="~/images/sponsors/sponser1.png" />
                           <!-- <span class="glyphicon glyphicon-music" aria-hidden="true"></span> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 focus-grid">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image b">
                            <img src="~/images/sponsors/sponsor2.jpg" />
                        </div>
                    </div>
                </div>
            </div>
                </div>
            <br/>
            <div class="row">
                <div class="col-md-3 focus-grid">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image c">
                                <img src="~/images/sponsors/sponsor3.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 focus-grid">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image d">
                                <img src="~/images/sponsors/sponsor4.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 focus-grid">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image e">
                                <img src="~/images/sponsors/sponsor5.png" />
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3 focus-grid">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image e">
                                <img src="~/images/sponsors/sponsor6.jpg" />
                            </div>

                        </div>
                    </div>
                </div>
                </div>
                <div class="clearfix"></div>
            </div>
    </div>
</div>
<!-- experience -->

