﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - KSRM Sangati</title>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />

    @RenderSection("Links",required:false)

    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Music World Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!-- js -->
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <!-- js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>

    <!-- start-smoth-scrolling -->
</head>
<body>
    <!-- header -->
    <div id="particle"></div>
    <div id="overlay" class="header">
        <div class="container">
            <div class="header-left">
                <a href="~/">SANGATI 2k17</a>
            </div>
            <div class="navigation">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"> </span>
                            <span class="icon-bar"> </span>
                            <span class="icon-bar"> </span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="hvr-bounce-to-bottom active"><a asp-controller="Home" asp-action="Index">HOME <span class="sr-only">(current)</span></a></li>
                            <li class="hvr-bounce-to-bottom"><a asp-controller="Home" asp-action="About">ABOUT</a></li>
                           <!-- <li class="hvr-bounce-to-bottom"><a asp-controller="Events" asp-action="Index">EVENTS</a></li> -->
                            <li class="hvr-bounce-to-bottom">
                                <a href="~/events">EVENTS</a>
                                @*<li class="hvr-bounce-to-bottom"><a href="#sponsors">SPONSORS</a></li>*@
                            <li class="hvr-bounce-to-bottom"><a asp-controller="Home" asp-action="Gallery">GALLERY</a></li>
                            <li class="hvr-bounce-to-bottom"><a href="#contact">CONTACT</a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //header -->
    
        <div id="overlay" class="body-content">
            @RenderBody()
            
        </div>
    <hr />
        <!-- footer -->
        <div class="footer">
            <div id="contact" class="container">
                <div class="footer-grids">
                    <div class="col-md-3 footer-grid">
                        <h4>ADDRESS</h4>
                        <ul>
                            <li>KIIT School Of Rural Management</li>
                            <li>Bhubaneswar </li>
                        </ul>
                    </div>
                    <div class="col-md-6 footer-grid">
                        <h4>GET IN TOUCH</h4>
                    <div class="col-sm-6 footer-grid">

                        <ul>
                            <li>Sangmeshwar Biradar</li>
                            <li>Mobile: +918984616204</li>
                            <li>Email: <a href="mailto:16201007@ksrm.ac.in">16201007@ksrm.ac.in </a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 footer-grid">
                        <ul>
                            <li>Saibal Paul</li>
                            <li>Mobile: +918051039413</li>
                            <li>Email: <a href="mailto:16201028@ksrm.ac.in">16201028@ksrm.ac.in </a></li>
                        </ul>
                    </div>
                        </div>
                    <div class="col-md-3 footer-grid">
                        <h3><a asp-controller="Home" asp-action="Index">SANGATI 2k17</a></h3>
                        <div class="col-sm-12 footer-grid">

                            <ul>
                                <li>Ms Snigdha Mohanty</li>
                                <li>Mobile: +917377240015</li>
                                <li>KIIT School of Rural Management</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- //footer -->
        <!-- copy -->
        <div class="copy-right">
            <div class="container">
                <p> &copy; 2017 KSRM Sangati. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
            </div>
        </div>
        <!-- copy -->
        <!-- smooth scrolling -->
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                    var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                    };
                */
                $().UItoTop({ easingType: 'easeOutQuart' });
            });
        </script>
        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        <!-- //smooth scrolling -->
        <!-- for bootstrap working -->
        <script src="~/js/bootstrap.js"></script>
        <!-- //for bootstrap working -->

    

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
            var options = { "particles": { "number": { "value": 90, "density": { "enable": true, "value_area": 552.4033491425909 } }, "color": { "value": "#ffffff" }, "shape": { "type": "circle", "stroke": { "width": 0, "color": "#000000" }, "polygon": { "nb_sides": 5 }, "image": { "src": "img/github.svg", "width": 70, "height": 100 } }, "opacity": { "value": 1, "random": true, "anim": { "enable": true, "speed": 1, "opacity_min": 0.1, "sync": false } }, "size": { "value": 2, "random": true, "anim": { "enable": false, "speed": 40, "size_min": 0.1, "sync": false } }, "line_linked": { "enable": true, "distance": 150, "color": "#ffffff", "opacity": 0.4, "width": 1 }, "move": { "enable": true, "speed": 1.5782952832645452, "direction": "none", "random": true, "straight": false, "out_mode": "out", "bounce": false, "attract": { "enable": false, "rotateX": 600, "rotateY": 1200 } } }, "interactivity": { "detect_on": "canvas", "events": { "onhover": { "enable": false, "mode": "repulse" }, "onclick": { "enable": true, "mode": "repulse" }, "resize": true }, "modes": { "grab": { "distance": 400, "line_linked": { "opacity": 1 } }, "bubble": { "distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3 }, "repulse": { "distance": 200, "duration": 0.4 }, "push": { "particles_nb": 4 }, "remove": { "particles_nb": 2 } } }, "retina_detect": false };
            particlesJS("particle", options);
    </script>

    @*<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>*@

        @RenderSection("Scripts", required: false)
</body>
</html>
