﻿
<!-- banner -->
<div class="banner">
	<div class="container">
		<script src="js/responsiveslides.min.js"></script>
			<script>  
				$(function () {
				  $("#slider").responsiveSlides({
					auto: true,
					nav: true,
					speed: 500,
					namespace: "callbacks",
					pager: true,
				  });
				});
			  </script>
			<div class="caption">
				<div class="slider">
					<div class="callbacks_container">
						    <ul class="rslides" id="slider">
								<li><h3>THE MUSIC WORLD</h3></li>	
								<li><h3>WORLDS BEST MUSIC</h3></li>	
						    </ul>
							<p>Which Have You Never Seen Before!!</p>
						    <a class="hvr-bounce-to-bottom morebtn" href="#">MORE</a>
					</div>
				</div>
			</div>
	</div>
</div>
<!-- //banner -->
<!-- banner-bottom -->
<div class="banner-bottom">
	<div class="container">
		<div class="bottom-grids">
			<div class="col-md-3 bottom-one">
				<div class="bottom-text">
					<h3>AFRICAN MUSIC</h3>
					<p>Sed ut perspiciatis unde
					omnis iste natus error sit
					voluptatem accusantium doloremque 
					 totam rem aperiam, eaque ip</p>
				</div>
			</div>
			<div class="col-md-3 bottom-two">
				<div class="bottom-text">
					<h3>HIP HOP MUSIC</h3>
					<p>Sed ut perspiciatis unde
					omnis iste natus error sit
					voluptatem accusantium doloremque 
					 totam rem aperiam, eaque ip</p>
				</div>
			</div>
			<div class="col-md-3 bottom-three">
				<div class="bottom-text">
					<h3>HARD ROCK</h3>
					<p>Sed ut perspiciatis unde
					omnis iste natus error sit
					voluptatem accusantium doloremque 
					 totam rem aperiam, eaque ip</p>
				</div>
			</div>
			<div class="col-md-3 bottom-four">
				<div class="bottom-text">
					<h3>FOLK MUSIC</h3>
					<p>Sed ut perspiciatis unde
					omnis iste natus error sit
					voluptatem accusantium doloremque 
					 totam rem aperiam, eaque ip</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //banner-bottom -->
<!-- welcome -->
<div class="welcome">
	<div class="container">
		<div class="welcome-head">
			<h3>WELCOME</h3>
			<p>Nam libero tempore, cum soluta nobis est eligendi optio 
			cumque nihil impedit quo minus id quod maxime placeat facere
			possimus, omnis voluptas assumenda est, omnis dolor repellendus. 
			Temporibus autem quibusdam et aut officiis debitis aut rerum 
			necessitatibus saepe eveniet ut et voluptates repudiandae sint 
			et molestiae non recusandae.</p>
		</div>
	</div>
</div>
<!-- //welcome -->
<!-- popular -->
<div class="popular">
	<div class="container">
		<div class="popular-head">
			<h3>MY ALBUM</h3>
		</div>
		<div class="popular-grids">
			<div class="col-md-4 popular-grid">
				<img src="images/111.jpg" alt=""/>
				<div class="pop-desc">
					<p>MODERN MUSIC</p>
				</div>
			</div>
			<div class="col-md-4 popular-grid">
				<img src="images/222.jpg" alt=""/>
				<div class="pop-desc">
					<p>HIP HOP MUSIC</p>
				</div>
			</div>
			<div class="col-md-4 popular-grid">
				<img src="images/333.jpg" alt=""/>
				<div class="pop-desc">
					<p>FOLK MUSIC</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //popular -->
<!-- experience -->
<div class="we-focus">
	<div class="container">
		<div class="focus-grids">
			<div class="col-md-6 focus-grid">
				<h3>EXPERIENCE <span>THE FEEL OF GOOD MUSIC</span></h3>
				<p>Donec nulla justo, pharetra nulla, lacinia pulvinar nunc rutrum nisi vel nib  impedit quo minus id quod maxime placeat facere
			possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
			</div>
			<div class="col-md-3 focus-grid">
				<div class="focus-border">
					<div class="focus-layout">
						<div class="focus-image a">
							<span class="glyphicon glyphicon-music" aria-hidden="true"></span>
						</div>
						<h4>DRUM STICKS</h4>
					</div>
				</div>
			</div>
			<div class="col-md-3 focus-grid">
				<div class="focus-border">
					<div class="focus-layout">
						<div class="focus-image b"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></div>
						<h4>SAXOPHONE</h4>
					</div>
				</div>
			</div>
			<div class="col-md-3 focus-grid">
				<div class="focus-border">
					<div class="focus-layout">
						<div class="focus-image c"><span class="glyphicon glyphicon-film" aria-hidden="true"></span></div>
						<h4>TUBA</h4>
					</div>
				</div>
			</div>
			<div class="col-md-3 focus-grid">
				<div class="focus-border">
					<div class="focus-layout">
						<div class="focus-image d"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span></div>
						<h4>GUITAR</h4>
					</div>
				</div>
			</div>
			<div class="col-md-3 focus-grid">
				<div class="focus-border">
					<div class="focus-layout">
						<div class="focus-image e"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></div>
						<h4>SILHOUETTE</h4>
					</div>
				</div>
			</div>
			<div class="col-md-3 focus-grid">
				<div class="focus-border">
					<div class="focus-layout">
						<div class="focus-image f"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></div>
						<h4>DRUM SET</h4>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- experience -->
<!-- full -->
<div class="full">
	<div class="container">
		<div class="col-md-4 full-grid">
			<div class="full-text">
				<div class="full-left">
					<span class="glyphicon glyphicon-music" aria-hidden="true"></span>
				</div>
				<div class="full-right">
					<h3>FULL QUALITY AUDIO</h3>
				</div>
				<div class="clearfix"></div>
			</div>
			<p>Donec nulla justo, pharetra nulla, lacinia pulvinar nunc rutrum nisi vel nib  impedit quo minus id quod maxime placeat facere
			possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
			<a class="hvr-bounce-to-bottom read-more" href="album.html">MORE</a>
		</div>
		<div class="col-md-4 full-grid">
			<div class="full-text">
				<div class="full-left">
					<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
				</div>
				<div class="full-right">
					<h3>ALL FORMATS</h3>
				</div>
				<div class="clearfix"></div>
			</div>
			<p>Donec nulla justo, pharetra nulla, lacinia pulvinar nunc rutrum nisi vel nib  impedit quo minus id quod maxime placeat facere
			possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
			<a class="hvr-bounce-to-bottom read-more" href="album.html">MORE</a>
		</div>
		<div class="col-md-4 full-grid">
			<div class="full-text">
				<div class="full-left">
					<span class="glyphicon glyphicon-film" aria-hidden="true"></span>
				</div>
				<div class="full-right">
					<h3>FULL QUALITY VIDEO</h3>
				</div>
				<div class="clearfix"></div>
			</div>
			<p>Donec nulla justo, pharetra nulla, lacinia pulvinar nunc rutrum nisi vel nib  impedit quo minus id quod maxime placeat facere
			possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
			<a class="hvr-bounce-to-bottom read-more" href="album.html">MORE</a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //full -->

