body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

.navbar ul li {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  padding-right: 3px;
  padding-left: 3px;
  font-family: 'Dosis', arial, sans-serif; }

#scroll-nav {
  position: fixed;
  /* Make it stick/fixed */
  top: -80px;
  /* Hide the navbar 50 px outside of the top view */
  width: 100%;
  /* Full width */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  background: #ADA996;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000; }

#particles-js {
  width: 100%;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae8584287da6fac5895bbe4fb80f9f5f&auto=format&fit=crop&w=1050&q=80), linear-gradient(#ffffff, #2a567b, transparent);
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  background-blend-mode: hard-light;
  background-attachment: fixed;
  font-family: 'Poiret One', cursive; }

#header .f-head {
  color: white;
  position: absolute;
  font-size: 50px;
  padding: 20px;
  top: 26%;
  left: 40%;
  font-weight: bold;
  letter-spacing: 0.2em;
  background-attachment: fixed;
  font-family: 'Poiret One', cursive; }

#header .s-head {
  color: white;
  position: absolute;
  font-size: 50px;
  padding: 20px;
  top: 35%;
  left: 32%;
  font-weight: bold;
  letter-spacing: 0.3em;
  background-attachment: fixed;
  font-family: 'Poiret One', cursive; }

.register-button {
  position: absolute;
  top: 60%;
  left: 40%; }

#button {
  width: 200px;
  line-height: 25px;
  font-weight: bold;
  border-radius: 25px;
  letter-spacing: 4px;
  background: #fff;
  color: black; }

#button:hover {
  background: #ADA996;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-weight: bold;
  color: black;
  transition: 0.3s all ease; }

.arrow {
  width: 60px;
  height: 82px;
  position: absolute;
  top: 75%;
  left: 45%;
  margin-left: 0px;
  bottom: 5%;
  z-index: 999; }

/* set arrow styles */
.arrow path {
  stroke: #fff;
  stroke-width: 2px;
  fill: transparent;
  animation: down 2s infinite; }

/* arrow keyframe animation */
@keyframes down {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }
/* arrow animation delay */
.arrow path.a1 {
  animation-delay: -1s; }

.arrow path.a2 {
  animation-delay: -.5s; }

.arrow path.a3 {
  animation-delay: 0s; }

@media (max-width: 540px) {
  #header .f-head {
    color: white;
    position: absolute;
    font-size: 30px;
    padding: 20px;
    top: 26%;
    left: 35%;
    font-weight: bold;
    letter-spacing: 0.3em;
    background-attachment: fixed;
    font-family: 'Poiret One', cursive; }

  #header .s-head {
    color: white;
    position: absolute;
    font-size: 30px;
    padding: 20px;
    top: 35%;
    left: 20%;
    font-weight: bold;
    letter-spacing: 0.3em;
    background-attachment: fixed;
    font-family: 'Poiret One', cursive; }

  .register-button {
    position: absolute;
    top: 60%;
    left: 30%; } }
#about {
  position: relative;
  padding: 40px 0 0 0;
  height: auto;
  overflow: hidden;
  font-family: sans-serif; }

#about h3 {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
  color: #444;
  margin-top: 40px; }

#about p {
  width: 80%;
  /* text-align: center; */
  margin: 0 auto;
  margin-top: 70px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-family: 'Dosis', arial, sans-serif; }

blockquote {
  padding: 0;
  border: none;
  background: none;
  font-style: normal;
  line-height: 1.7;
  color: #777;
  margin-bottom: 100px; }

.mt-100 {
  margin-top: 20px; }

.mb-40 {
  margin-bottom: 40px; }

.mt-40 {
  margin-top: 40px; }

.mt-80 {
  margin-top: 80px; }

.bg-grey {
  background: #f0f0f0; }

.slick-slider {
  background: white;
  line-height: 0.7;
  text-align: justify;
  color: #000; }
  .slick-slider .slick-dots button:before,
  .slick-slider .slick-dots .slick-active button:before {
    color: rgba(255, 255, 255, 0.85); }
  .slick-slider .slick-slide {
    background: white;
    padding: 1px 1px 1px 1px; }
    .slick-slider .slick-slide:nth-child(odd) {
      background: #fff; }

.slick-track {
  display: flex; }
  .slick-track .slick-slide {
    display: flex;
    height: auto;
    justify-content: center; }

.mont {
  font-family: 'Montserrat', sans-serif; }

.about-quote {
  font-size: 12px; }

.event-quote {
  font-size: 15px;
  text-align: left; }

@media (max-width: 768px) {
  #event-details {
    font-size: 14px;
    text-align: left; } }
