#mycarousel {
  margin-top: 70px; }
  #mycarousel .carousel-item {
    height: 650px;

	}
  #mycarousel .carousel-image1 {
    background-image: url(../assets/images/carbon.jpg);
    background-size: cover; }
  #mycarousel .carousel-image2 {
    background-image: url(../assets/images/carbon.jpg);
    background-size: cover; }
  #mycarousel .carousel-image3 {
    background-image: url(../assets/images/carbon.jpg);
    background-size: cover; }
		#mycarousel .carousel-image4 {
	    background-image: url(../assets/images/carbon.jpg);
	    background-size: cover; }
			#mycarousel .carousel-image5 {
		    background-image: url(../assets/images/carbon.jpg);
		    background-size: cover; }
				#mycarousel .carousel-image6 {
			    background-image: url(../assets/images/carbon.jpg);
			    background-size: cover; }

.carousel-image3 .carousel-caption p{
	font-size: 20px;
}
.carousel-caption img{
	width: 30%;
	float: left;
}
#showcase{
	color: #111;
	height: auto;
}

.carousel-inner h1{
	margin-top: 12px;
	font-size: 50px;
	text-align: center;
}

@media (max-width:728px) {
	.carousel-caption img{
		width: 10%;
		float: left;
	}
	.carousel-image3 .carousel-caption p{
		font-size: 10px;
	}
	.carousel-caption p{
		font-size: 10px;
	}
	.carousel-caption h3{
		font-size: 11px;
	}
	.carousel-inner h1{
		font-size: 28px;
		text-align: center;
	}
}


/*    FACTS    */
#facts{
	height: auto;
}
.my-10{
	margin-top: 80px;
	margin-bottom: 80px;
}
#facts p{
	font-size: 12ox;
	color: #000;
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.2px;
}
#facts h1{
	margin-top: 10px;
	font-size: 25px;
	letter-spacing: 0.25rem;
	color: #000;
	text-transform: uppercase;
}
#facts h2{
	color: #000;
	font-weight: bolder;
	text-align: center;
}
